[2015-10-29 13:15] mstnorris opened #1 "Examples / Demo page with code examples."
Do you have a demo page with code examples?

[2015-11-11 13:57] alioygur commented on #1
+1

or documentation

[2015-11-26 17:41] posva commented on #1
I am working on it! I understand how unusable the framework is at the moment. I have a doc branch where I am still building things up. Doc is my priority now. I won't add any more features until I have a doc :smile:

[2015-11-26 18:42] posva commented on #1
Actually there are some examples inside the test/components folder if you want to start building things

[2015-11-26 19:39] posva commented on #1
@mstnorris @alioygur I just noticed I wasn't watching my own repo which is strange... I wasn't getting any notifications

[2015-11-26 19:40] mstnorris commented on #1
No worries. I look forward to seeing what you get up to. Do you have an ETA?

[2015-11-26 19:42] posva commented on #1
Unfortunately providing an ETA is quite difficult but I will do my best to have at least some components documented and the doc online by the end of this week

[2015-11-26 19:43] mstnorris commented on #1
That's ok, just knowing something is actively developed is great. I'll try and use it and give you some feedback.

Thanks.

[2015-11-26 19:44] posva commented on #1
That would be great! Thanks for your support

[2015-12-04 08:42] posva commented on #1
@mstnorris @alioygur The documentation workflow is ready. There is some doc available at http://posva.net/vue-mdl/

[2015-12-17 16:48] acourtiol commented on #1
Wow~~ ! [Doge](http://i.imgur.com/P6xYV7s.jpg)

[2015-12-19 12:38] posva commented on #1
@acourtiol haha, thanks :smile:

@mstnorris, @alioygur The first version of the doc is ready so I am closing this issue. I'm however looking for feedback

[2015-12-19 12:38] #1 closed

[2015-12-20 17:21] RiseupDev opened #3 "Not giving a prop a value should consider it as true in HTML"
I kept trying to add the prop 'raised' and 'colored' to an mdl-button but with no luck:

[code]

all i get is a basic button with ripple effect

[2015-12-20 17:37] posva commented on #3
Can you give me a repro, pleas. The example on the doc works just fine (the playground

[2015-12-20 17:40] RiseupDev commented on #3
sure i'll make a repo

[2015-12-20 17:52] RiseupDev commented on #3
you can view the code here: https://github.com/RiseupDev/mdl-test

[2015-12-20 17:55] posva commented on #3
I see, you're missing the material design lib. This is something that should be clarified in the future with an example boilerplate. I added a comment about this in the doc but it's not enough. I'll update the readme as well.

Check http://www.getmdl.io/started/index.html

[2015-12-20 17:56] RiseupDev commented on #3
i'm not missing them, thy're in the index.html file

[2015-12-20 17:58] posva commented on #3
mmh, I somehow missed that with the search. I'll get a closer look

[2015-12-20 18:03] posva commented on #3
Turns out it has to be `raised=raised`

I got tricked by jade. I'll try to fix it, if I can't i'll update the doc. Thanks!

[2015-12-20 18:04] RiseupDev commented on #3
ok thanks :+1:

[2015-12-20 19:53] #3 closed

[2015-12-20 19:58] posva commented on #3
You can now update to the v0.3 and write `raised` without passing a value

[2015-12-20 20:24] RiseupDev commented on #3
nice :+1:

[2016-01-17 15:54] geeeeeeeeek opened #4 "The missing card component"
Card is an essential component in Material Design. Should this be implemented soon?

[2016-01-17 17:47] posva commented on #4
Yes, I'm getting to it very soon :smile:

[2016-01-17 17:50] posva commented on #4
However cards doesn't need any component to be used. It'll certainly add some sugar for the component but that's pretty much everything

[2016-01-17 18:11] geeeeeeeeek commented on #4
@posva great!

[2016-02-01 20:48] martinlindhe opened #5 "Selects"
While I realize mdl itself doent yet provide a select component to forms, the need
have arisen for me.

I hope to one day see support for this in vue-mdl :-)

Upstream: https://github.com/google/material-design-lite/issues/854

The following vue component can be used in the meantime;
https://gist.github.com/martinlindhe/1693a2652bf2a609ee37

[2016-02-01 22:25] posva commented on #5
Cool! Thanks for sharing that. I'll give it a look as soon as I'm done with cards :smile:

[2016-02-04 15:24] martinlindhe opened #6 "Dialogs (mdl 1.1)"
mdl 1.1 was just released and they offer new interesting components!

Dialogs, aka Modals, documented here: https://getmdl.io/components/index.html#dialog-section

Example: http://codepen.io/Garbee/pen/EPoaMj

Here is a rough vue component for the mdl-dialog that could be use as basis for this feature: https://gist.github.com/martinlindhe/5bc834f410f958a65c7d

[2016-02-04 16:21] martinlindhe opened #7 "Snackbar (mdl 1.1)"
Snackbar is a new mdl feature; documented here: https://getmdl.io/components/index.html#snackbar-section

Here is a rough impl of a vue component for the mdl-snackbar, that can be used as a basis for this feature: https://gist.github.com/martinlindhe/8be3cbe036d5582eba15

[2016-02-04 19:54] posva commented on #7
:smile: Thanks for the hint. I saw the snackbar and the dialog #6 in mdl 1.1
I'm definetely getting onto those soon. I'll have to create a contributing.md doc as well as a roadmap so people can follow the progress. It's kinda hard to work alone on this

[2016-02-08 23:20] posva commented on #4
I'm sorry this took so much, I'm not even done with the feature yet :sweat_smile:
I'm soon releasing a version with an usable card. I'm planning on adding more features and provide better doc on the near future now that I got more free time

[2016-02-08 23:22] #4 closed

[2016-02-08 23:24] posva opened #8 "Complete Cards"
Cards are missing features:

[ ] expand on title
[ ] Menu icon
[ ] Menu interaction
[ ] Doc how events are fired
[ ] Better doc on slots

[2016-02-09 02:00] dacodekid opened #9 "[Vue warn]: v-model does not support element type: DIV"
Getting this `warning` for `mdl-textfield` (haven't tried other components though) and noticed there is an extra `div` element wraps the `textbox` & `label`.  Not sure, this is what causing the waring / I'm using the library correctly or not (couldn't find any doc/example with `v-model` usage).

This generates the warning
[code]

Using plain `mdl` doesn't produce this warning.
[code]

![screen sho

[2016-02-09 10:47] posva commented on #9
Hi, thanks for the issue.
`v-model` should not be used with `mdl-textfield` as the `:value.sync` is there for that purpose. However I'm not sure about events as they're attached to the div that contains the textfield. I'm going to include that on the documentation as it doesn't seem to be clear (You can also open a PR if you want, that would make me happy :smile: )

I just found there's an extra d

[2016-02-09 12:10] dacodekid opened #10 "Migrate from coffeescript to es6"
As you may know this already, there is an old `github` joke about `coffeescript` that "a library author uses `coffeescript` to reduce `pull requests`".  Both `jade` & `coffeescript` might not be our `cup of tea` for many of us (I personally use `jade` but only on private repos).

Could you plz consider moving this repo to pure ES5/ES6 & HTML instead?

[2016-02-09 12:11] dacodekid commented on #9
@posva :

1. Removing `v-model` fixes the waring :+1: .  Sorry but I tried many things at once and had an impression that I had to use both `sync & v-model`.

2. I wouldn't mind participating (or open a PR) but I had spent only an hr or so with `vue-mdl` + [this issue here](https://github.com/posva/vue-mdl/issues/10)

[2016-02-09 12:15] posva commented on #10
This is something I've been considering for a while. I want to make sure this is worth the changement : people will issue more prs and contribute more.

If I move I'll move to es6.  I don't know about html, jade is certainly better and it doesn't cost much

[2016-02-09 13:02] posva commented on #10
Ok, so I created a tweet with a poll and a post on the Vuejs forum http://forum.vuejs.org/topic/2062/should-i-move-vue-mdl-to-es6-instead-of-coffee
https://twitter.com/posva/status/697041961329549312

[2016-02-09 17:33] dacodekid opened #12 "Check 'is-dirty' and Trigger 'change' events on appropriate components"
There is a discussion thread [here](http://forum.vuejs.org/topic/2065/vue-vue-mdl-material-design-lite-change-event-approach).

I'm fairly new to `vue` & `mdl`, so not sure whether any other components other than `textfield` implements `is-dirty` checking, but would like to see `vue-mdl` check underlying model's value and trigger   /call `mdl`'s `change()` and `checkDirty` events.

[2016-02-13 11:45] randrianov commented on #5
Look at getmdl-select - that's the thing you really need! It provides a fast way to make select input with native Material design lite menu style.
https://github.com/CreativeIT/getmdl-select

[example page](http://creativeit.github.io/getmdl-select/)

hope it'll help you

![select](https://cloud.githubusercontent.com/assets/1220390/13027413/70a5a8d6-d260-11e5-8cd1-9a91aeb688b6.gif)

[2016-02-13 13:25] martinlindhe commented on #5
@randrianov if you look at the gist in first post, you will see that it is a vue component based on getmdl

[2016-02-13 13:56] posva commented on #5
@randrianov Thanks, I already knew it but I appreciate your concern :smile:

[2016-02-14 23:06] acourtiol commented on #10
@posva :smiley:
https://github.com/decaffeinate/decaffeinate

[2016-02-14 23:07] posva commented on #10
Thanks, I'm actually already using it to move the code to es6 😛

On Mon, Feb 15, 2016, 00:06 Alexandre Courtiol <notifications@github.com>
wrote:

[2016-02-15 10:31] posva commented on #12
Thanks for this!
As I'm currently moving the repo to es6 I won't be able to work on it until I'm done with it and some other features that are have a higher priority but I'll address the issue in the future :smile:

[2016-02-18 10:05] smartpierre commented on #10
Yes ! Awesome !

[2016-02-22 06:34] DualWield opened #13 "Better MDL installation guidelines"
I try to use it, but there is no mdl style.

can anyone tell me where to find the style assets?

[2016-02-22 06:47] DualWield commented on #13
fine,I find it.http://www.getmdl.io/started/

[2016-02-22 09:07] posva commented on #10
I'm almost done with this. The only thing left to migrate is the doc which should not take much time as there is not much code :smile:

[2016-02-22 09:09] posva commented on #13
Glad you found. It is supposed to be on the Installation part on the doc http://posva.net/vue-mdl/#installation but it's not very clear.
I'm reopening this so I have a reminder about adding some code samples

[2016-02-23 06:14] DualWield commented on #10
It's awesome!!

[2016-02-23 08:54] posva opened #14 "Use it as a plugin"
At the moment vue-mdl has some custom methods to register directives but it should be used as a plugin:

[code]

[2016-02-23 09:03] posva opened #15 "Better export with es6"
in `src/vmdl.js` I'm importing and then exporting but I should instead use this syntax: `export mdlButton from './button.vue'` which is more concise

[2016-02-23 09:34] smartpierre commented on #10
:+1:

[2016-02-23 16:40] posva commented on #10
It should be good, I need to test a bit the new version (v0.4.0) to see if it still works :stuck_out_tongue:
Any feedback is welcome :smile:

[2016-02-23 16:40] #10 closed

[2016-03-07 09:32] andyforever opened #16 "support mdl-layout"
Hope early support mdl-layout. I think it's a base element to build an APP or Website.

Thanks for the great job.

[2016-03-07 18:47] posva commented on #16
Hi, thanks for submitting the request. I'll address it as soon as I can

[2016-03-08 06:48] andyforever commented on #16
Hi,Posva.
I have a proposal for the project,but I do not know if it would work.It's about the register method.
I think it's a little complex to register every component before I use it. Would you consider creating a Vue directive for each component for the register? Then we can just add a attribute to register it.
The inspiration comes from an article from the [Vue forum](http://forum.vuejs.org/to

[2016-03-08 08:59] posva commented on #16
Hi, I took a look at the forum post. The directives examples is indeed interesting, however vue-mdl aims to create reusable components that offers more than just a call to the `componentHandler.upgradeElements(this.el)` method

Concerning the current way of registering components and directives, I'm going to remove the existing methods and make vue-mdl a plugin that also expose each directive and

[2016-03-08 10:58] andyforever commented on #16
That's helpful.
Thanks.

[2016-03-09 22:35] #7 closed

[2016-03-13 14:48] vu-dang opened #18 "Demo site crashed in iPad Safari"
The demo site does not work well in iPad Safari.  It flickers when scrolling; the drop down menu would make the page blank; and scrolling fast causes the page to crash.

Is this an issue with vue.js or the mdl library?

[2016-03-13 22:11] posva commented on #18
Hi,
It cannot be a bug with vue, that's for sure. I don't know where it can comes from.

I don't have an ipad, I can only try on an emulator so I cannot reproduce the error. As the doc was not meant to be viewed on an ipad and I cannot actually verify that a problem exist, I'm closing the issue.

Thanks for taking the time in opening the issue, I'll try to test somehow on someone else ipad and reo

[2016-03-13 22:11] #18 closed

[2016-03-17 08:27] eurobob opened #19 "Register functions not working"
I'm using browserify, and I can require vue-mdl fine, but when I try to register components I get this error:

```Uncaught TypeError: vmdl.registerAll is not a function```

[2016-03-17 09:23] andrewex commented on #19
I just ran into the same error. Looking at the vmdl object in the console I noticed the register and registerAll functions are nested under the default object. Check out the code below that is working for me. Also make sure to include the Material Lite dependencies.

var vmdl = require('vue-mdl');
var Vue = require('vue');

vmdl.default.registerAll(Vue);

var checkbox = vmdl.default.components['md

[2016-03-17 17:24] posva commented on #19
This is embarrassing 😳
I think I have to work the web pack config a bit to make it work with non es6 environments as well
Thanks for the issue.

[2016-03-18 02:31] eurobob opened #20 "Component Handler not defined"
I get this console error when I include a component. I'm including the MDL javascript too, maybe i'm not including it in the right place? It's a little unclear in the documentation.

```Uncaught ReferenceError: componentHandler is not defined```

[2016-03-18 02:40] eurobob commented on #20
My bad! I had the defer attribute on the MDL js file, but not on my own js file.

I did however find that you need to include the MDL js before your own Vue instantiation, so perhaps this could be made clear in the docs?

[2016-03-18 02:40] #20 closed

[2016-03-18 08:56] posva commented on #20
Definitely! As there is already #13, I'll fix this as well on it

[2016-03-25 00:29] #5 closed

[2016-03-27 11:28] freepad opened #21 "Unhandled rejection SyntaxError: Unexpected identifier"
Hello,
I don't understand why it does not work.
You can help me?

[code]

Error:
[code]

[2016-03-27 12:09] posva commented on #21
I tried without the style and got it working. The only issue I see is that you're indenting your jade/pug incorrectly: unlike html there isn't an initial indentation. Thin can break stuff:

[code]

Tell me if that's not the issue

[2016-03-27 12:09] #21 closed

[2016-03-27 12:21] posva commented on #21
Works with the style too :smile:
<img width="392" alt="screen shot 2016-03-27 at 14 11 48" src="https://cloud.githubusercontent.com/assets/664177/14065338/e638e220-f425-11e5-9838-0e73e575af9a.png">
Remember you can pass the `type="password"` to the textfield as a prop

[2016-03-27 16:30] freepad commented on #21
Thank, but the error persists

It work
[code]

It not work
[code]
error

Unhandled rejection SyntaxError: Unexpected identifier

[2016-03-27 18:44] posva commented on #21
Well, I cannot help you any further as this error has nothing to deal with vue-mdl. The error seems to be soemowhere else

Good luck!

[2016-03-27 18:55] freepad commented on #21
It is magic but work
[code]

Thanks for the help!

[2016-04-02 22:23] #6 closed

[2016-04-03 11:15] #13 closed

[2016-04-03 11:15] #14 closed

[2016-04-03 11:15] #15 closed

[2016-04-03 11:15] #19 closed

[2016-04-05 07:52] BrainMaestro opened #23 "Component naming"
I understand the idea behind prefixing your components with `mdl` to avoid name clashes with regular html elements. But I feel like it'll be cleaner without those. Check out [Material UI](https://github.com/callemall/material-ui) a similar project built in react.

[2016-04-05 12:37] posva commented on #23
Hello @BrainMaestro
As you said, the reason why components are prefixed with `mdl` is to make a difference between custom components and native tags like `a` or `img`, I'm not sure if it's on the HTML5 spec or not, however it does make sense to make the difference. Here's an article about it: http://www.html5rocks.com/en/tutorials/webcomponents/customelements/

You can already register them withou

[2016-04-05 12:56] BrainMaestro commented on #23
Oh that seems like a really cool idea! I'm new to vue but i'll try.

[2016-04-05 12:58] posva commented on #23
Some tips: the code you have to update is here; https://github.com/posva/vue-mdl/blob/develop/src/vue-mdl.js#L50-L57
You have to add an optional `options` parameter to the install function (http://vuejs.org/api/#Vue-use)

[2016-04-05 17:19] BrainMaestro commented on #23
After giving it more thought, the change doesn't seem worth it.

Separate question. Do you plan on expanding your components past those in Material Design Lite which is missing quite a few of the components. Or would you rather not do the styling involved.

Great project btw :+1:

[2016-04-05 20:20] posva commented on #23
Ok, no problem  :smile: closing the issue then
Yes, I do. I also accepts other contributions sometimes. At th moment there is the select and dialog component. They're both unde the custom components category

Thanks!

[2016-04-05 20:20] #23 closed

[2016-04-06 20:13] #9 closed

[2016-04-06 20:24] posva commented on #12
Hello! I finally got time to look into it. I'll keep you updated on this :smile:

[2016-04-06 22:51] posva commented on #12
@dacodekid Adding a simple watch solves the issue. I have to write the tests yet so it may be done tomorrow

[2016-04-08 12:21] #12 closed

[2016-04-10 16:23] pdcmoreira commented on #20
I'm having the same error on a fresh installation with vue-cli.

main.js:

[code]

App.vue:

[code]

The buttons appear unstyled, with the error on the console:
`Uncaught ReferenceError: componentHandler is not defined`

[2016-04-10 17:10] posva commented on #20
@pdcmoreira You need to include MDL too: http://www.getmdl.io/started/index.html

[2016-04-10 19:39] pdcmoreira commented on #20
Ok, so I've included MDL through the "hosted" method and now the buttons are correctly styled, but the `Uncaught ReferenceError: componentHandler is not defined` error is still in the console. Do you have any idea?

[2016-04-10 20:16] posva commented on #20
you must be missing the mdl js. check mdl website again :smile:

[2016-04-10 20:51] pdcmoreira commented on #20
Are you refering to the material.js? I've added these 3 lines to my `<head>` tag, as it says in the mdl website:
[code]

[2016-04-10 21:06] posva commented on #20
you should remove the defer

[2016-04-10 21:09] pdcmoreira commented on #20
Perfect! Thanks! It's not obvious in the vue-mdl documentation that we should include MDL first, though.

[2016-04-10 21:25] posva commented on #20
Yeah, where do you think it should be? Where do you expected itto be?

[2016-04-10 21:28] pdcmoreira commented on #20
In the Installation section, there should be some note saying it doesn't include MDL, therefore we should include it first. I think. Or maybe I'm just being noob.

[2016-04-10 21:53] posva commented on #20
There's already a note but I've seen a lot of people struggling with this when they start

[2016-04-14 14:03] smartpierre opened #26 ""for" prop on tooltip"
Hi !

first of all, thank you for your work, it's amazing !

I am trying to use the tooltip component in a loop and I can't manage to have a dynamic "for" property. See my code here :

![screenshot from 2016-04-14 16-01-48](https://cloud.githubusercontent.com/assets/8858750/14530682/529c168e-025a-11e6-9a6a-7ecad2489a8c.png)

That gives :

![screenshot from 2016-04-14 16-00-31](https://cloud.github

[2016-04-15 08:26] posva commented on #26
Hello,

It's not that amazing, I'm still missing several components :sweat_smile:
But I really appreciate your support, so Thank you :smile:

As a good practice you should never use `{{ }}` inside attributes. It doesn't work in props (I think)
Does it work using: `:for ="'profile' + profile.id"` ?

[2016-04-15 09:35] smartpierre commented on #26
Oh god I completely forgot to put the ':' before 'for'
It works perfectly now, thank you ! I hope to see you at the next Meetup in Paris :)

[2016-04-15 12:15] posva commented on #26
Good to know. See you next time at Algolia :wink:

[2016-04-15 12:15] #26 closed

[2016-04-17 08:35] vbrajon opened #27 "Doc - Memory Leak"
Hey posva,

Great job for vue-mdl !

I appear to have a memory leak on the documentation website.

I am on OSX / Chrome49. Do you need more info ?

PS: I will try to help you release 1.0, this project seems fun ;)

[2016-04-17 09:44] posva commented on #27
Hey, thanks @vbrajon
I'll give it a look. What were you doing to create the leak?

It makes me happy you want to contribute. Send me an email so can find a better way to communicate 😉

[2016-04-18 13:13] smartpierre opened #28 "About toggle and boolean"
Hi !

I am using the toggle component in my project.

However, the variable I am using for this component comes from an API with a value of **0** or **1** and the toggle component only recognize **true** or **false**. Is it my job to handle that or maybe we can improve the toggle component to be a little bit smarter ?

[code]

Thanks !

[2016-04-18 13:24] posva commented on #28
Hi,
As long as the v-model works with it, the component should follow.
If you want you can change the mixin https://github.com/posva/vue-mdl/blob/develop/src%2Fmixins%2Ftoggle.js and add a test for it in any of the toggles components
Otherwise I'll take a look asap and keep you informed

[2016-04-21 23:02] cassioscabral commented on #8
Could we get some background slot for the title ? I'm using a dynamic url passing down with a prop and will be good to be able to change that. Thanks

P.S.: Are you still working on that ? I'm new to Vue and I believe I could help with this issue and maybe future issues also. Would be a great way to understand more about Vue/Vue-MDL and contribute in general.

[2016-04-21 23:38] posva commented on #8
Hi. Do you mean like the example in the doc? http://posva.net/vue-mdl/#cards
I'm always looking forward new contributions 😄
I'm not working on this specific thing, so you can go for it. The main issue here is that you have to fix the height too

[2016-04-22 00:55] cassioscabral commented on #8
I see that you change the background-url in the CSS  like that:

`background: url('http://www.getmdl.io/assets/demos/welcome_card.jpg') center / cover;`

I would like to change that URL passing the value via some prop or data. I was able to pass a value to media which works since the value is inserted in the img src. But couldn't figure out how to change the background alone. Something like below

[2016-04-30 10:58] #28 closed

[2016-05-03 08:54] smartpierre commented on #28
Wow ! Thank you ! I just came back from holiday and completely forgot to do it beforehand.

:+1:

[2016-05-03 11:53] Fedia opened #30 "v0.7.4 requires Vue >= 1.0.21"
Thank you for a great lib, Eduardo!
For those of us who don't use NPM, it should probably be noted that vue-mdl v0.7.4 requires Vue >= 1.0.21.

[code]

[2016-05-03 12:12] posva commented on #30
Hello @Fedia
Thanks! I think a simple modification to the readme is enough. Specifically the line:

may be replaced by

What do you think? What were you expecting? Was it a note on the release notes?

[2016-05-03 12:30] Fedia commented on #30
@posva
Yeah, this **"make sure"** line would be a time saver for those non-reading ADHD folks like me. Thanks!

[2016-05-03 12:33] #30 closed

[2016-05-03 20:43] wergimity opened #31 "Gulp + Browserify error"
Hi, when I try to import vue-mdl module I get this error:
[code]

My `gulpfile.js`
[code]

[2016-05-03 21:26] posva commented on #31
You seem to be missing the css loader https://github.com/vuejs/vueify#usage
Also you won't need that if you include the compiled version (that's the default behaviour when doing `import VueMdl form 'vue-mdl'`)

[2016-05-06 17:59] wergimity commented on #31
Thanks. I used `import VueMdl from 'vue-mdl/dist/vue-mdl.min';` and now everything works perfectly!

[2016-05-06 17:59] #31 closed

[2016-05-06 18:04] posva commented on #31
That's weird, I must have messed up the package in some commit. Thanks for reporting it, I will take a deeper look

[2016-05-08 00:38] posva commented on #27
@vbrajon I'm not sure it's a memory leak but it's definitely using too much CPU. I can reproduce it now by going to http://posva.net/vue-mdl or even by serving locally with `npm run dev:doc`

[2016-05-08 00:41] posva commented on #27
Yeah, basically there's too much stuff on a single page. Using vue-router or a simple routing strategy would fix the problem

[2016-05-08 10:45] Mdpproduction commented on #31
Hi all,
if i import the vue-mdl like `import VueMdl from 'vue-mdl/dist/vue-mdl.min'`, during compiling with browserify it's all ok. But when i try to use some component i get this error:

`Uncaught ReferenceError: componentHandler is not defined`

I'm using laravel elixir, and i'm usign vue 1.0.20, could be the problem ?

[2016-05-08 11:05] posva commented on #31
@Mdpproduction I updated the readme. You need to install MDL

[2016-05-08 11:09] Mdpproduction commented on #31
Thanks, i've already installed MDL. But i don't know why, the effetc on textfield, ripple ecc ecc, doesn't works yet. But thanks for the update!!

[2016-05-08 11:12] posva commented on #31
You need to include both, js and css from MDL. You're missing one of them for sure or you're including them in the wrong order. I'm sure you'll find out the issue in very little time 😉

[2016-05-08 11:14] Mdpproduction commented on #31
Works :dancers: thanks again man!!

[2016-05-12 08:56] Mdpproduction opened #32 "Adding a background image props to mdlCard component ?"
Goodmorning everyone,
I thought if it was a good idea to add a props backgroundImage or something like that, for the component mdlCard, so you can dynamically add if necessary the images as wallpaper

[2016-05-12 10:54] posva commented on #32
I added the feature to the list on #8
If you want to tackle the feature, feel free to submit a PR. I'll help you if you need help 😄

[2016-05-12 10:54] #32 closed

[2016-05-14 22:41] Mdpproduction opened #33 "Vue-validator works with mdl textfield ?"
Hi,
this is a question more than an issue. I'd like to know, if it's possible to make work togheter vue-validator and mdl-textfield for validation. I'll tried to add the rules, but doesn't work. Any suggestions ?

[2016-05-15 12:22] posva commented on #33
You can use the slots to define your own inputs
https://github.com/posva/vue-mdl/blob/develop/src%2Ftextfield.vue
It may be worth to transfer the directive v-validate to the input or the textarea
Also I think there should be two components: input and textarea. I'd make dev easier

[2016-05-15 12:47] posva commented on #33
@Mdpproduction After giving it a try, the best way to go is to customise the input with a slot. I'll think about it and try to find a better way to support vue-validator

[2016-05-15 12:49] Mdpproduction commented on #33
Thanks man, i'll waiting for updates!!

[2016-05-18 21:16] zalkawe314 commented on #20
No problem realising what I had to setup from MDL, but like the other posters had not spotted the 'defer' attribute after copy-pasting the script tag from the MDL documentation. It'd be helpful, I think, to add a comment about that.

[2016-05-18 21:17] posva commented on #20
@zalkawe314 Could you make the PR for it, please 😄 ?

[2016-05-18 21:20] posva commented on #20
@zalkawe314 Oh, it's on their documentation? I didn't notice that

[2016-05-23 13:40] danneker opened #34 "For MdlDialog, the MdlButton action buttons must be defined before use"
I created the following dialog:
[code]
[code]

When calling openDialog, the dialog is displayed but the actions are not added to the buttons. In fact, when I click on the button nothing happens. If I close the dialog and reopen it, the buttons work as expected.

This code however seems to work the first time:
[code]
Maybe an issue with the adding of the actions to the buttons that takes place befo

[2016-05-23 16:02] posva commented on #34
That's normal because `this.callAction1` in undefined in that scope 😛
I'm thinking about removing the event and use a direct method instead. It's weird that it works at a second try though...

[2016-05-23 16:13] keepwn opened #35 "support mdl-table"
Hi!
I created a table and used code like these, just copy from [mdl-table](https://getmdl.io/components/index.html#tables-section)

*native mdl-table code*
[code]

The code created some checkboxes in first column, but i could not get checkboxes' status in vue.
So, i have to write some code to create checkboxes and get these status instead of  using `mdl-data-table--selectable` in mdl-table.
Have a

[2016-05-23 16:31] danneker commented on #34
When I pass the functions they seem to be called even though though they come from another scope. I'm no expert on javascript but this.callAction1 does not seem to be undefined (at least not the second time or in the second example).

Using direct methods might be better.

[2016-05-23 16:52] posva commented on #35
IMO you should create the checkboxes yourself, remove the `mdl-data-table--selectable` and bind them like usual with `v-model`. I do plan in supporting `mdl-data-table` but there may be some issues until Vue 2 because of the native `tr`, `th` and `td` elements

[2016-05-23 16:53] posva commented on #34
Can't you do `this.$broadcast('actionDialog', [this.action1, this.action2, this.action3])` ?

[2016-05-23 17:05] danneker commented on #34
I thought the same thing but when I tried I had the same outcome. It really seams to be something with the v-for. Like the button is not yet created and so the action is not correctly added to it.

[2016-05-23 17:33] posva commented on #34
You're right! The problem is with the v-for. I'll remove the automatic action insertion. People should handle actions themselves when overriding the template. What do you think?

Thanks for reporting this! 😄

[2016-05-23 17:59] keepwn commented on #35
I tried to create the checkboxes myself, but i seem to have a little problem.
When mutil-select `input checkbox`, `checkboxes` will be a array like `[tr0,tr1]`, but `mdl-checkbox` behavior different than expected.

[code]
Am i ignore something?

[2016-05-23 18:18] danneker commented on #34
I agree, people should handle the actions themselves. Like that the code is easier to understand. It would be nice, however, if you update the example for this case so that people can see how the override works.

You are welcome for the report! Glad I can help, even if just a little. ;)

[2016-05-23 20:55] posva commented on #34
Sure, I'll do that 👍

[2016-05-23 22:04] #34 closed

[2016-05-24 02:39] keepwn commented on #35
e....I made a stupid mistake(`vaule` => `value`).:flushed:
It works fine now, thx.

[2016-05-24 02:39] #35 closed

[2016-05-24 10:27] posva commented on #35
no worries 😄
Remember you can use a computed value with a setter for the header checkbox

[2016-05-25 21:10] nini1294 opened #37 "Change colors"
How can I change the primary and accent colors for the components?

[2016-05-25 21:45] posva commented on #37
Actually this doesn't depend on vue-mdl  :smile:
You can check this https://getmdl.io/customize/index.html
Also you can check the doc folder in this repository. There's an example about customising the colors using the source files.

[2016-05-25 21:45] #37 closed

[2016-05-26 05:54] timeswind opened #38 "mdl-select - contents are not scrollable"
how to set the select box a fix-height and make the options scrollable

[2016-05-26 07:46] posva commented on #38
The component needs some specific update to handle this. Thanks for reporting it!

[2016-05-26 10:48] posva commented on #38
I'll actually do it, no need to close 😉

[2016-05-28 11:56] timeswind opened #39 "mdl-menu, how to display multiple menu in a repeat list (v-for)"

[2016-05-30 17:16] phillycheeze opened #40 "Mdl-Select click issues inside Mdl-Dialog"
When a select field is inside a dialog box, clicking an element in the select doesn't close the select box.

It looks like some issue inside the dialog component preventing the click from propagating through.

[2016-05-31 07:50] posva commented on #40
Thanks for reporting it. I'll take a look asap 😄

[2016-05-31 11:44] posva commented on #27
I think everything is fine now that vue-router is used

[2016-05-31 11:44] #27 closed

[2016-05-31 18:55] posva commented on #40
It seems to work on develop. Can you checkout the example in the develop branch please? You can run the test examples with `npm run dev:integration`, then go to `localhost:8080` and press the next button until you get to the  Dialogs page

[2016-06-01 02:09] phillycheeze commented on #40
Thanks for the comment!

I did try that and it worked as you said. I have figured out the actual problem.

When the `:options` attribute points to a Vuex getter, it causes the select box not to close when an item is selected. I am not sure why this is happening, so I might try to look into it.

Do you happen to have any ideas?

[2016-06-01 06:41] posva commented on #40
Vuex getters should work as any other variable 😕
I don't have any ideas. MDL bind events listeners when the menu is shown. You may look there.
Closing this since it's not a vue-mdl issue

[2016-06-01 06:41] #40 closed

[2016-06-02 18:40] clemf commented on #31
@Mdpproduction How did you end up solving this issue?

[2016-06-02 18:57] Mdpproduction commented on #31
Yep. You need to import mdl.min from dist source.

[2016-06-18 12:42] enriquezafra opened #43 "Selects"
Is correct for remove the "is-focused" class after making the selection add this?

[code]

[2016-06-18 14:29] posva commented on #43
It took me some time to understand that 😅
Yes, we should remove it. The best way is to call the MDL method for it: `this.$els.textfield.MaterialTextfield.boundBlurHandler()`

[2016-06-18 16:29] enriquezafra commented on #43
Ok, Thanks for the great job.

[2016-06-19 09:03] posva commented on #43
If you want to create the PR and need some help, I'm willing to do so 😄

[2016-06-20 09:47] xinz opened #44 "how to reset mdl-select"
Hi,

`<mdl-select label="Country" id="contry-select" :value.sync="country" :options="countriesArray"></mdl-select>`

Once select one option of this component, how can I reset this component via the defined vm's methods, just like this component initialization? I try updating the `vm.country` as null or "", but it doesn't work as expected.

Appreciate your help!

[2016-06-20 22:37] #44 closed

[2016-06-20 22:37] posva commented on #44
Thanks! You found a bug. Should be fixed in next release

[2016-06-20 22:38] #43 closed

[2016-06-20 22:38] posva commented on #39
Sorry, I ignored this. I couldn't understand the question and forgot to ask 😓
Can you make it clearer?

[2016-06-22 12:32] patriciussanctus opened #45 "mdl-checkbox Safari keyboard focus"
hi!
I try press key "Tab" on keyboard from safari 9.1 and getn't effect focus into checkboxes.

[2016-06-22 22:54] posva commented on #45
Indeed, although it doesn't work on the MDL site: https://getmdl.io/components/index.html#toggles-section

I'll suggest opening an issue there.

PS: First time I ever tried that on Safari. Didn't know you have to activate it through preferences. It does feel weird 😕

[2016-06-22 22:54] #45 closed

[2016-06-30 06:43] Maxlone opened #46 "Mdl-Select click issue"
I found out that if you push new data to the array that `:options` pointed to,clicking an element in the select doesn't close the select box. Is there any way to solve this issue?

[2016-06-30 11:13] posva commented on #39
Closing because the issue is unclear 😕

[2016-06-30 11:13] #39 closed

[2016-07-01 08:01] xinz opened #47 "mdl-select async dynamically update options"
Hi,

In the vue instance's lifecycle hooks (I try created / ready / beforeCompile), I want to dynamically load the `options` data from the `promise` object, but I find that once using the async http request/response, the options can be displayed, but after select one item, the populated options menu won't hide. Do you have any suggestions to resolve this issue?

Thanks.

[2016-07-01 14:55] posva commented on #47
yeah, there's a bug about it. Options are only considered at creation so they cannot be later modified.
Duplicated of #46

[2016-07-01 14:55] #47 closed

[2016-07-02 18:47] Mdpproduction opened #48 "Install vue-mdl from npm return v0.75"
Good evening,
i re-installed vue-mdl for another project from npm. But when the installation is finished, i see that the version is the 0.75 and not the latest. How can i fix that ?

[2016-07-02 21:25] posva commented on #48
I tested installing on a clean projet and it installs the last version. There's never been a 0.75 version. Something must be wrong with your env 😕

[2016-07-02 21:25] #48 closed

[2016-07-02 22:47] Mdpproduction commented on #48
My bad. Sorry 😃

[2016-07-03 08:12] xinz commented on #47
Thanks for your confirmation.

[2016-07-04 02:34] #46 closed

[2016-07-04 09:13] posva commented on #46
Sorry for not answering. I completely forgot 😓
This is a real issue because at the moment the mdl menu is created only once and therefore any menu item added afterwards doesn't work properly

[2016-07-11 02:17] birdlord opened #49 "mdl-textfield needs maxlength"
I would like to pass the mdl-textfield component the maximum number of characters allowed, but it doesn't seem to be possible.

[2016-07-12 11:53] #49 closed

[2016-07-14 23:38] IvoPereira commented on #16
+1 on this.

It is a basic need for building a web app.

[2016-07-15 14:08] posva commented on #16
I know, I'm sorry I couldn't work on this enough, I wish I had more time to do it but I can only work on my spare time 😭
mdl Layout is a bit more complicating than I expected back when I started working on it because there're a lot of different cases and I need to make it easy to handle the layout. I shall give it another try next week

[2016-07-31 14:04] NathHorrigan commented on #16
Any updates on this, great library btw 👍

[2016-07-31 14:22] posva commented on #16
Thanks! I added the tabs a couple of days ago (that's what I ended up looking at). I expect being able to work on this during the next week. If only I could do this during my daily job 😩
The project is active but I wish I had more time for it...

[2016-08-08 03:10] hyiso opened #50 "mdl-select shows the value rather than name when selected item changed"
When I change the item selected, `mdl-select` shows the item.value rather than item.name.
 I've created a [demo on jsfiddle](https://jsfiddle.net/doezwsmu/)

It seems to be the problem with code in `src/select.vue` at line 52:
[code]
This code will always be triggered because it happens after value changed.

[2016-08-08 07:18] posva commented on #50
Thanks for the detailed report!
I'll give it a look and solve it this evening

[2016-08-08 16:11] jamiedumont commented on #46
I thought I'd add my `++` for reference. I'm too having this issue, and can't find a way to resolve it.

[2016-08-08 22:10] #50 closed

[2016-08-09 06:57] SEIAROTg opened #51 "Outdated documentation for MdlButton"
The usage of icon property of MdlButton has been changed since [this commit](https://github.com/posva/vue-mdl/commit/5753424acfe95cee59a31fcb9f8715d49d6d8f75). In newer version the code shown in the documentation does not work correctly.

**The code in documentation:**

[code]

**The new usage:**

[code]

However, simply changing this may cause documentation works incorrectly and upgrading the Vue

[2016-08-09 08:10] posva commented on #51
Oh, thank you very much @SEIAROTg !
I'll check it this evening

[2016-08-09 10:58] vjrngn opened #52 "Doesn't work with browserify"
Installing this package for use with browserify throws the following error :

<img width="647" alt="screen shot 2016-08-09 at 4 27 50 pm" src="https://cloud.githubusercontent.com/assets/4737780/17514076/416039e0-5e4e-11e6-9d9c-e3c49634f34f.png">

[2016-08-09 11:07] #52 closed

[2016-08-09 11:08] vjrngn commented on #52
Didn't notice a similar issue. This has been resolved already. For use with vueify just use `import VueMdl from 'vue-mdl/dist/vue-mdl.min';`. That solved all issues for me.

[2016-08-09 22:22] posva commented on #51
I took a look and I'd like to make it more consistent with `fab` and `mini-fab` props. Putting in the `i.material-icons` let you use another icon library so I prefer keeping that it is more flexible.
I prefer not to keep the `icon="star"` syntax to make it easier but I'm not sure about this: I'm not sure if using `icon="star"` combined with `icon` + `i.material-icons star` is intuitive enough. Usi

[2016-08-10 02:02] SEIAROTg commented on #51
Maybe the two syntax could both be kept. But the problem now is that if you use `icon` + `i.material-icon` syntax, the button will be shown in rectangular style instead of round style as it should be.

[code]

Here, since the type of the prop `icon` is by default String, simply using `<mdl-button icon>` will make it be treated as empty string, which is then converted into false in class list.

[2016-08-11 06:28] ShadowWood opened #53 "tabs of vue-mdl is not working"
Hello, there is a problem in my project when I use tabs of vue-mdl.

At first, I install vue-mdl in my application by this

[code]

And then I use mdl-tabs in my components, the error happening:

[code]

I think that I have registered by Vue.use(VueMdl), because other components like mdl-card or mdl-button can work in my components.

[2016-08-11 07:05] posva commented on #53
Are you using the last version (0.9.1)?

[2016-08-11 07:52] posva commented on #51
Actually, I have a mixin that sets the `icon` variable to `true` if it's defined that way.
Anyways I'll fix this and update the doc

[2016-08-11 08:05] ShadowWood commented on #53
No, I use version (0.8.5). Is it fixed in the last version (0.9.1)?

[2016-08-11 08:08] ShadowWood commented on #53
I has already updated it, and it works. Thank you!

[2016-08-11 08:19] posva commented on #53
Tabs were introduced in 0.9.1 😛

[2016-08-11 08:19] #53 closed

[2016-08-12 04:48] agc93 opened #54 "Setting a blank string on mdl-card actions attribute causes TypeError"
I'm not sure if this is really a problem with vue-mdl, but it certainly seems like it might be.

When I define an mdl-card as follows:
[code]

where `showLinks` is a computed boolean on my VM, I get a console error:

[code]

Removing the binding for actions (i.e. the `:actions="showLinks ? 'actions' : ''"` everything starts working again. Do you have any idea what could cause this? Is there any mo

[2016-08-12 04:52] agc93 commented on #54
The stack trace when that error is thrown is:

[code]

[2016-08-12 06:46] posva commented on #54
That's because you don't need the `v-if` in the slot. Vue-mdl does it for you. I better add that to the documentation

[2016-08-12 06:52] agc93 commented on #54
I took that v-if out of the slot, and even tried removing that whole `div` and same problem. The moment I add `:actions="showLinks ? 'actions' : ''"` to the containing `mdl-card` it all stops working.

[2016-08-12 06:55] posva commented on #54
I cannot reproduce your issue copying the exact same template provided. Can you please create a jsfiddle with a reproduction?

[2016-08-12 06:56] posva commented on #54
@agc93 You can use this as a starting point: https://jsfiddle.net/doezwsmu/

[2016-08-12 07:20] agc93 commented on #54
Hmm, in reproducing it, the same behaviour happens if I set `supporting-text` to an empty string for example.

https://jsfiddle.net/3j4okukL/

[2016-08-12 15:41] microcipcip opened #55 "Webpack, include only used components"
Hi, is it possible to include only the components needed and not the whole framework?

[2016-08-16 01:29] agc93 commented on #54
Any luck with this? Any more info I can provide?

[2016-08-16 07:48] posva commented on #54
Why do you have an empty string? The `action` prop should not be present if empty, instead, you can handle that case in the event listener.
Other props are more of an issue to me. Can you show me your use case, please?

[2016-08-16 08:39] agc93 commented on #54
I am wrapping the `mdl-card` up in a custom component with it's own prop for a link, which is not a required prop. Something like:
[code]

Then in my template, I thought I could do something like:
[code]
but apparently not.

[2016-08-16 08:42] agc93 commented on #54
Also that fiddle I linked demonstrates the effect with `supporting-text`. If you change `:supporting-text="empty"` to `:supporting-text="title"`, the component shows, change it back to `empty` (an empty string prop), and it breaks again.

[2016-08-16 12:01] posva commented on #55
Theoretically, you should be able to include any component from `src`. You'll need the `pug-loader` installed thought.

[2016-08-16 12:06] posva commented on #54
You can actually set the value to `true` to make it pass. It's so unintuitive...
Changing it to `false` would make more sense. I'll check what was blocking me from doing so.

[2016-08-16 12:11] posva commented on #54
Checking for `el` in the if should do it

[2016-08-16 12:44] microcipcip commented on #55
Ok, thank you :)

[2016-08-16 12:44] #55 closed

[2016-08-16 14:41] posva commented on #55
Tell me if something does not work as expected
Glad I could help you 😄

[2016-08-16 22:21] posva commented on #54
Couldn't find the time to do this. Doing it tomorrow alongside #56

[2016-08-17 20:17] #54 closed

[2016-08-17 20:20] posva commented on #46
I think I should rethink the way mdl-menu handles options. I may end up doing something like mdl-tabs but this one is more complicated

[2016-08-17 23:40] agc93 commented on #54
Awesome! Thanks for being so quick!

Was this picked up in the 0.9.3 release?

[2016-08-18 07:42] posva commented on #54
It's not that fast, but thank you.
It is, indeed on the last release. You can check the notes on each release to see what have been included 😉

[2016-08-25 07:37] mixedCase opened #60 "mdl-button not applying mdl-button--icon class"
Title.

Example code:

[code]

[2016-08-25 07:41] posva commented on #60
Can you provide a repro? it's working nicely on the docs

[2016-08-25 07:46] mixedCase commented on #60
Using webpack template generated with vue-cli, this is my index.html:

[code]

App.vue:

[code]

and main.js:

[code]

[2016-08-25 07:51] posva commented on #60
By a repro, I mean a [jsfiddle.net](jsfiddle.net)

[2016-08-25 07:58] mixedCase commented on #60
I have no idea how to do it since I've only worked with ES6 and .vue files.

Do you have any template [like what Vue.js provides?](https://jsfiddle.net/yyx990803/okv0rgrk/)

[2016-08-25 08:13] posva commented on #60
I thought I had one, but I've lost it :(
I'll create another and add a CONTRIBUTING.md file

[2016-08-25 08:52] nickknissen commented on #38
What is the progress on this? Because if it's weeks away i'll properly create a pull request for this

[2016-08-25 09:52] posva commented on #38
@nickknissen I had some issues when trying to setup this.
You can definitely give it a try. IMO this is more about documenting how to handle this with CSS but it has been a long time since I tried, so I may be wrong.

[2016-08-25 12:32] posva commented on #60
The documentation is actually wrong. The icon is supposed to be used with an argument:
`<mdl-button icon="star"></mdl-button>`
The funny thing is this is a duplicate of #51 😆

In case you need a playground: https://jsfiddle.net/posva/2hr9z7xk/

Thanks for pointing it out anyway! I'll fix it this week

[2016-08-25 12:32] #60 closed

[2016-08-28 13:46] kyoukhana commented on #46
I encountered this problem as well.  I think if we load the lists dynamically there should be a option to re-bind the click on the options.  It seems like its a binding issue on click.   Also if you are pulling a list from the database the column name in the database has to be value.

[2016-08-30 08:31] htc550605125 opened #61 "Support for Vue 2"
I'm using vue 2.0.0 rc4 with webpack. I tried the example in the README.MD but it failed, here is the output of the console

[code]

What's wrong with the quotes ?

[2016-08-30 08:46] posva commented on #61
ATM vue-mdl only supports Vue 1
@petejohanson Is actually working on the migration for Vue 2. I'm confident about having a working release for Vue 2 by the end of this week

[2016-08-30 08:56] htc550605125 commented on #61
Thanks! Looking forward for your updates :)

[2016-09-05 22:06] posva commented on #61
@htc550605125 At the end I couldn't find enough time to work on this. I'll try again this week

[2016-09-09 20:17] atjonathan commented on #16
@posva, any update on this?

[2016-09-10 16:34] posva commented on #16
@atjonathan Unfortunately I couldn't yet find the time for this. I've being focusing on vue-router 2 and supporting Vue 2 for vue-mdl. I think the later is more important atm because you can still use mdl layouts and apply the directive `v-mdl` to them

[2016-09-13 21:12] freeflyhm opened #63 "dialogs does not stop tabbing on the background"
This can be reproduced on the sample page on http://posva.net/vue-mdl/#!/dialogs

in the Dialog section click the button to show Dialog
keep hitting tab key

result: tab going through background page and data can also be entered.

Hope someone can advise on this problem. Thanks.

[2016-09-14 12:18] posva commented on #63
It's possible to override the dialog behaviour to keep iterating inside the the dialog

[2016-09-16 16:32] laurentpayot commented on #16
@posva are you aware of this ? (mdl2 + vue2) : https://github.com/google/material-design-lite/tree/master/examples/vue

[2016-09-16 16:57] posva commented on #16
@laurentpayot I wasn't aware of the examples but I was aware of mdl 2 which is still very unstable.
Thanks for sharing! I've checked a bit. As soon as mdl 2 gets mature I'll get to implement them. It should even be faster to implement. I may restart the project from scratch actually

[2016-09-16 17:46] laurentpayot commented on #16
@posva By the way it is not obvious how we shoud use `v-mdl` with mdl layouts.
Suppose I have the following structure:

[code]
[code]

[code]
Where exactly should I put `v-mdl`? I'm getting infinite loops when I try…

[2016-09-16 18:02] posva commented on #16
My bad! `v-mdl` is not the way for that. You should just use plain mdl `componentHandler.upgradeElement(this.$el)` in Layout.vue should work

[2016-09-16 18:44] laurentpayot commented on #16
Do you mean in the `ready` hook like the following?
[code]
And if yes, not in Navbar.vue nor Sidebar.vue even if I will put some components (vue-mdl + my own ones) inside them?

[2016-09-16 19:30] posva commented on #16
Yes, You can also pass a second parameter to that method specifying the component, so in this case `MdlLayout` I believe, but you shouldn't need that 😄

[2016-09-17 08:40] laurentpayot commented on #16
Thanks @posva, reading [this](https://github.com/google/material-design-lite/issues/871) also helped me clarify things.

 PS: October is going to be a long month 😄

[2016-09-22 13:53] smartpierre opened #64 "Tooltips are blurry"
Hi !

Tested on multiple operating systems, we have blurry text on tooltips when using Chrome :

http://posva.net/vue-mdl/#!/tooltips

![screenshot from 2016-09-22 15-49-08](https://cloud.githubusercontent.com/assets/8858750/18750666/6180e87c-80dc-11e6-99ce-a990a870af1f.png)

Chrome version : 53.0.2785.116 (64-bit)

Thank you :)

[2016-09-22 13:57] smartpierre commented on #64
It looks like I fixed it on my project by updating to the latest version of google/material-design-lite

https://github.com/google/material-design-lite/releases/tag/v1.2.1

[2016-09-22 14:09] #64 closed

[2016-10-01 12:26] kyoukhana opened #65 "Autocomplete label doesn't clear with dynamic data"
For some reason Autocomplete label doesn't clear with dynamic data.

[2016-10-01 13:40] posva commented on #65
@kyoukhana Can you be more specific, please. Where is this happening and how does it happen. Can you create a repro from this: https://jsfiddle.net/posva/2hr9z7xk/

[2016-10-02 00:06] pksunkara commented on #61
I am looking forward to this too 😄

[2016-10-02 23:30] posva commented on #61
It's almost finished for an alpha but I need to update the docs first. I'll do my best to find the time for this.

[2016-10-03 10:45] nickknissen commented on #38
Completly forgot to return to this issue.
But it can be accomplished with CSS

[code]

[2016-10-03 12:29] posva commented on #38
I remember seeing some caveat with a CSS-only solution but I cannot recall what it was

[2016-10-04 10:57] karlpatrickespiritu opened #66 "Select inside dialog change dialog size"
When I try to change the selection option inside a dialog, the dialog body resizes.

![2](https://cloud.githubusercontent.com/assets/10472504/19071739/3420cb90-8a64-11e6-93b2-6d8cb8e1e400.png)

![1](https://cloud.githubusercontent.com/assets/10472504/19071748/3a7f4b4c-8a64-11e6-8d8a-d2c8ca57d845.png)

[2016-10-04 13:10] posva commented on #65
@kyoukhana Any news?

[2016-10-04 13:11] posva commented on #66
I'm sorry, I cannot see the difference. Can you provide a repro using this as a starting point? https://jsfiddle.net/posva/2hr9z7xk/

[2016-10-04 14:55] karlpatrickespiritu commented on #66
Seems this only occurs when placing the dialog inside a card. Placed my dialog outside and works like a charm. Anyway, thanks. Closing this issue.

[2016-10-04 14:55] #66 closed

[2016-10-05 02:57] kyoukhana commented on #65
Sorry for the delay.  I just setup a Git Repo for this issue take a look.

[](https://github.com/kyoukhana/mdl-label)

Please let me know if you have any questions.

[2016-10-05 07:41] posva commented on #65
@kyoukhana Please, set up a minimal repro with the jsfiddle I provided you. It's easier for me to check and help you...

[2016-10-05 07:43] posva commented on #66
Oh, I see, you can use `v-transfer-dom` like in the docs http://posva.net/vue-mdl/#!/dialogs

[2016-10-05 10:09] kyoukhana commented on #65
The problem is that with JSFiddle you can't use Lazy Load Routing.  This github repo basically isolates the issue.

[2016-10-05 10:16] posva commented on #65
You don't need lazy loading to reproduce an issue with vue-mdl

[2016-10-05 16:22] kyoukhana commented on #65
Finally i put together a fiddle.  If you load the fiddle you will see that the label is still there when user data is loaded

https://jsfiddle.net/kyoukhana/jv061bL4/19/

Thanks for the help.  This is using vue router.

[2016-10-05 16:57] posva commented on #65
You were not using VueMdl
Here's the fixed version: https://jsfiddle.net/posva/rwc40m4x/
You should read the docs 😄
http://posva.net/vue-mdl/#!/usage

[2016-10-05 16:57] #65 closed

[2016-10-06 03:13] karlpatrickespiritu commented on #66
Yep, I missed that one. Thanks @posva! Great work.

[2016-10-11 19:23] devilbags opened #67 "Support for Vue 2.0"
Since Vue 2.0 is officially released now, do you have any plan migrating the project to Vue 2.0?

[2016-10-11 21:02] posva commented on #67
@devilbags Yes, the work is in progress. I'm having some difficulties finding the time to work further so it goes slowly. However, that's going to change by the end of November because I'll be focusing on open source almost  fulltime
Closing in favor of #61

[2016-10-11 21:02] #67 closed

[2016-10-22 01:07] delueg commented on #61
+1

[2016-10-31 00:26] agc93 opened #68 "Dialog does not close when clicking outside dialog area"
According to the documentation and demo site, dialogs should close when clicking outside of the dialog area. This does not appear to be working correctly (on the demo page, or in my own code), as clicking outside the dialog has no effect. The close button works as expected.

Tested in Chrome 54 on Windows.

[2016-10-31 00:26] agc93 opened #69 "Dialog does not close when clicking outside dialog area"
According to the documentation and demo site, dialogs should close when clicking outside of the dialog area. This does not appear to be working correctly (on the demo page, or in my own code), as clicking outside the dialog has no effect. The close button works as expected.

Tested in Chrome 54 on Windows.

[2016-10-31 00:27] agc93 commented on #68
Apologies, accidentally created duplicate issue. See #69

[2016-10-31 00:27] #68 closed

[2016-10-31 09:56] posva commented on #69
That's indeed an error on my end: they do not close automatically. You have to handle that yourself with vue-clickaway: https://github.com/simplesmiler/vue-clickaway (make sure to install the correct version for Vue 1)
You can use a ref on the `mdl-dialog` element, then call the close method to close it programmatically.

I'll update the mdl-dialog component in the future to support this

[2016-11-01 09:26] weepy commented on #61
how close is this ? keen to use for a new vue 2.0 project x

[2016-11-01 10:33] posva commented on #61
Very close. I'm rewriting the docs. The progress can be seen on https://github.com/posva/vue-mdl/tree/ftr_vue_two
Some components are still misbehaving.
After this, I'll focus on an mdl 2 version

[2016-11-03 10:54] mimani commented on #61
+1, waiting to use it in the project I have started.

[2016-11-04 05:16] agc93 commented on #69
Thanks @posva ! Do you have any documentation on using `vue-clickaway` with the `mdl-dialog` component because the dialog stops opening the moment I add the `v-on-clickaway` directive to it

[2016-11-04 16:36] posva commented on #69
No, I don't have any 😞
If you're using the transfer dom directive alongside the clickaway there may be a priority conflict.

[2016-11-04 17:29] posva commented on #61
Glad to hear more people want it!
You can expect a prerelease version on Monday
The release will come once I make the project Vue 1 and 2 compatible. After that, I'll start working on integrating mdl 2. This time for Vue 2 only

[2016-11-07 07:12] node-gita commented on #61
+1 waiting for this, Thanks.

[2016-11-07 12:45] yoyo930021 commented on #61
+1 waiting for this.
Thank you!

[2016-11-07 13:19] posva commented on #61
I added an alpha and published it under the `next` npm tag
I may have forgotten some breaking change details:
https://github.com/posva/vue-mdl/releases/tag/v1.0.0-alpha.1

Feedback is welcome!

[2016-11-07 16:29] goldfinger43 opened #70 "[1.0.0-alpha.1]Module build failed"
Hey,

i get the following error if i compile the new version with webpack.

ERROR in ./~/vue-mdl/dist/vue-mdl.js
Module build failed: SyntaxError: 'with' in strict mode (846:36)

hope you can help

best regards

[2016-11-07 17:57] posva commented on #70
You seem to have strict mode activated somewhere. Make sure you're using Vue 2
Did you use any boilerplate?

[2016-11-07 18:28] goldfinger43 commented on #70
I am using laravel with vue 2
looks like vue has strict mode activated

my bootstrap.js looks like this:

window.Vue = require('vue');

/**
 *	Vue Material Components
 */
import VueMdl from 'vue-mdl';
Vue.use(VueMdl);

[2016-11-07 18:53] posva commented on #63
I'll use [tabbable](https://github.com/davidtheclark/tabbable) or [focus-trap](https://github.com/davidtheclark/focus-trap) to keep the tab behaviour inside the dialog

[2016-11-07 23:39] posva commented on #70
I've never used Laravel, does this help? https://github.com/marcosmoura/vue-material/issues/33

Otherwise, you can import from `vue-mdl/src/vue-mdl.js` and make sure to include the jade/pug loader (some components are still in jade). This will compile vue-mdl though, so it'd take more time during your development process and I discourage it.

[2016-11-08 10:10] luukholleman commented on #70
I'm using laravel with this and it loads fine.

This is my gulpfile:

[code]

[2016-11-08 11:04] delueg commented on #70
I have a similar problem. Since using vue-mdl@next. (I didn't use vue-mdl V1).

`[Laravel Elixir] Browserify Failed!: Cannot find module '!!./../node_modules/css-loader/index.js!./../node_modules/vue-loader/lib/style-rewriter.js?id=data-v-f1faa888!./../node_modules/vue-loader/lib/selector.js?type=styles&index=0!./dialog.vue' from '/Users/svendelueg/Development/...../node_modules/vue-mdl/dist'`

[2016-11-08 11:42] mimani commented on #61
Thanks for pushing it. I tried it, however I am not able to get this working:

Here is my package.json:

    ...
    "serve-favicon": "^2.3.0",
    "vue": "^2.0.0",
    "vue-mdl": "^1.0.0-alpha.1",
    "vue-router": "^2.0.0",
    "vue-server-renderer": "^2.0.0",
    "vuex": "^2.0.0",
    "vuex-router-sync": "^3.0.0"
    ....

I am using `webpack`, I added following in my `app.js`:

    import VueM

[2016-11-08 11:54] smolinari commented on #61
@posva Hey Eduardo,

I've noticed, in a way, some double work being done between you and the developer who created [Quasar-Framework](http://quasar-framework.org/). I know it's fun to do your own thing and get accolades for it, which you deserve for sure, but Razvan has something going with his framework (which has both mdl and ios themes). Razvan also just migrated Quasar to Vue 2 also.

I am not

[2016-11-08 12:10] posva commented on #61
@mimani That seem to be a problem with SSR. You must have some stack trace somewhere with more information.

@smolinari hey Scott. I checked quasar code source and there is no mdl there. He's just developing a custom Material theme there so there's, unfortunately, nothing in common. Thanks for the suggestion though

[2016-11-08 12:23] smolinari commented on #61
Yes, mdl itself isn't being used, but the "making reusable components" goal is definitely the same between you both. Maybe you could introduce mdl into Quasar as a "proper" material theme? :smile:

Scott

[2016-11-08 12:27] posva commented on #61
@smolinari I wouldn't recommend that as the current state of MDL 😬 . It's not flexible enough to be integrated into a framework, hopefully, mdl 2 can change that. However Quassar must be reusing logic between components and adapt them to both, ios and md themes. I fear in the end it would be harder to maintain a reusable version for quassar

[2016-11-08 12:48] smolinari commented on #61
@posva - You'd have to ask Razvan about how he is getting the theme stuff done. I am as of yet, a total noob to Quasar. I just noticed you guys seemed to be heading in similar directions and thought you could both do better and save time and effort joining forces.

Scott

[2016-11-08 12:51] posva commented on #61
Thanks for pointing it out but as I said I don't think it'll be beneficial for quasar because of the current lack of flexibility with mdl

[2016-11-08 18:34] goldfinger43 commented on #70
@posva the link to vue-material helped me. Had to switch my package.json to the original one from laravel. i messed up somewhere.

ty for help

[2016-11-08 18:36] posva commented on #70
Glad it helps. It would be great to add some help to the Readme for elixir users but I cannot do it myself. So if anyone could bring some clarity for others, I'll be grateful 😄

[2016-11-08 18:36] #70 closed

[2016-11-08 18:40] posva commented on #63
@freeflyhm I added this at v1.0.0-alpha.2
I'll add it to 0.x too

[2016-11-08 19:32] #63 closed

[2016-11-10 01:56] vanderlin opened #71 "Document that v-mdl-ripple-effect is removed"
when adding `v-mdl-ripple-effect` to a button I am getting this error. Not sure why? I am working with Vue 2.0.

[code]

`<mdl-button v-mdl-ripple-effect>Ripple Effect</mdl-button>`

[2016-11-10 07:51] posva commented on #71
The v-mdl-ripple effect was deprecated on 0.x. It hasn't been removed yet but it's not supported anymore. Use the class alternative instead `mdl-js-ripple-effect`. I have to make it clearer on the docs 😛

[2016-11-10 07:53] posva commented on #71
In the meantime, I added a note on the release notes

[2016-11-10 15:51] vanderlin commented on #61
lifecycle hooks, `ready` has been deprecated. https://github.com/vuejs/vue/issues/2873 use `mounted`.

[2016-11-16 23:04] paulogdm commented on #61
+1!!!

[2016-11-23 13:38] dsl101 commented on #51
I've just started converting a Vue / MDL project over to use vue-mdl, and was caught out by this for a menu. This code works:

    <mdl-button id="projectMenu" icon="more_vert"></mdl-button>

but this (from the docs) doesn't:

    <mdl-button id="projectMenu" icon>
      <i class="material-icons">more_vert</i>
    </mdl-button>

the latter producing a square-backed icon in the wrong colour. I gues

[2016-11-23 14:02] dsl101 opened #74 "Adding click handlers to menu items"
I'm converting a plain Vue / MDL project to use vue-mdl and hit this snag. Original code for a menu:

    <button id="projectMenu" class="mdl-button mdl-js-button mdl-button--icon">
      <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="projectMenu">
      <li class="mdl-menu__item" v-for="project in otherPro

[2016-11-23 14:43] dsl101 commented on #74
Hmm. Same thing happening with buttons. So, I'm hoping it's not attaching handlers that's the problem, but my setup.

I'm using Vue 2 and Webpack, installed via vue-cli. I then installed MDL and vue-mdl via npm, and the versions are:

    $ npm list | grep vue
	├── vue@2.1.0
	├─┬ vue-loader@9.9.5
	│ ├── vue-hot-reload-api@2.0.6
	│ ├─┬ vue-template-compiler@2.1.0
	│ └── vue-template-es2015-compiler

[2016-11-23 15:00] dsl101 opened #75 "More complete support / customisation of mdl-menu"
With native MDL menus, you can use the following classes to control the position of the menu when it opens:

	mdl-menu--top-right
	mdl-menu--bottom-right
	mdl-menu--top-left

Also, there's this class:

	mdl-menu__item--full-bleed-divider

which rather annoyingly has to be applied to the _previous_ item.

It would be great to be able to specify these in mdl-menu like this:

    <mdl-menu bottom-rig

[2016-11-23 15:30] dsl101 commented on #16
I'm using Vue mdl-layout, but with tabs instead of nav elements. I was going to ask elsewhere about using mdl-tabs in this scenario, but it seemed appropriate here, as supporting tabs would mean doing something in mdl-layout too I suspect. Currently, plain MDL separates out the tab _links_ from the tab _content_, so that the links can be inside the header element, but the content in the main page

[2016-11-23 17:25] posva commented on #16
@dsl101 I suggest you to just use the tabs as they're used with the original mdl-layout.

[2016-11-23 19:19] posva commented on #74
you're just missing the `native` modifier

[2016-11-23 19:19] #74 closed

[2016-11-24 10:15] posva commented on #51
I fixed this on the v1 branch. The docs are not ready yet. I'll publish the once they're finished

[2016-11-24 14:33] dsl101 commented on #16
Yes, I think that's the only option for the moment. But it looks like [tabs are changing in MDL](https://github.com/google/material-design-lite/issues/4481) anyway, so hopefully v-mdl will support the new version at some point in the future.

[2016-11-24 15:19] posva commented on #16
@dsl101 That's the v2 of mdl, vue-mdl will have to be rewritten anyways 😉

[2016-11-25 09:05] dsl101 commented on #16
Of course. I'm eagerly awaiting V2 of MDL anyway, as the current tab implementation is tricky to control from code rather than static data. I'm assuming there'll be much wider implications for v-mdl than just tabs though :).

[2016-11-25 12:57] dsl101 commented on #74
Tx - not had to use that before. Still learning Vue... :).

[2016-11-26 03:33] tralves commented on #51
Is it just me, or with Vue 2.0 you need to register the events with `@click.native` instead of just `@click`? It sort of makes sense, according to the [Vue 2.0 doc](https://vuejs.org/v2/guide/components.html#Using-v-on-with-Custom-Events).

If that's the case, I think the docs should mention this. It may save someone else some time.

[2016-11-26 10:09] posva commented on #51
@tralves The docs are still for version v0.x of vue-mdl not for v1.x. This wasn't necessary in Vue 1.
I'm working on updating them but it takes quite a lot of time

[2016-11-26 10:23] tralves commented on #51
@posva I know :) It was just a small reminder. Thanks!

[2016-11-28 19:55] timeswind opened #76 "v-on:click doesn't work on vue-mdl@next with vue 2.0"

[2016-11-28 23:52] posva commented on #76
use the `native` modifier duplicate of #74

[2016-11-28 23:52] #76 closed

[2016-11-29 00:01] timeswind commented on #76
what is native modifier

[2016-11-29 09:47] posva commented on #76
https://vuejs.org/v2/guide/components.html#Binding-Native-Events-to-Components

[2016-11-29 12:15] kyoukhana opened #77 "autocomplete"
Does autocomplete="off" exist in the text field components.

[2016-11-30 18:03] dsl101 commented on #61
Any news on v-mdl textfields? It seems the `.sync` modifier is now deprecated. What's the best approach for `<mdl-textfield>` now?

[2016-12-01 10:36] posva commented on #77
No, it can be added easily as a prop, though

[2016-12-01 10:43] posva commented on #61
@dsl101 The use of broadcast was an error on my part.
Docs are not finished yet, but you can help if you want. The v2 is on the `next` branch.

[2016-12-01 10:48] dsl101 commented on #61
Yes, I gathered the docs are for the old version. When I install vue-mdl@next I get vue-mdl@1.0.0-alpha.2 - is that right?

I would love to help, but I'm not sure how _much_ help I can be at this stage - I'm new to Vue as well as vue-mdl... But building an app with everything so starting to see how it hangs together.

[2016-12-01 10:54] posva commented on #61
@dsl101 yes, it should also be printed by npm or yarn.
I didn't make things easy for others to contribute in v1 but that won't be the case for v2 because I've learned a lot during this last year to make this a better open source project. However, you don't need much to help migrate the docs, except for some guidance I've not posted anywhere 😅
Migrating docs is basically renaming files from `doc/sr

[2016-12-01 11:44] dsl101 opened #79 "Enhancement: Add a focus() (and blur()?) method to mdl-textfield"
I'm currently battling to make a login form using 2 mdl-textfields and an mdl-button. I'd like the Enter key to move focus to the next text box (e.g. Username to Password), and then from Password to fire the Login button. Getting the `keyup` events is no problem (`@keyup.native="onKeyUp"`), but setting focus without resorting to id's and `document.getElementById()` is proving tricky. I tried the V

[2016-12-01 13:47] posva commented on #79
Proxying focus and blur methods is definitely legit. If you want to do the PR, you have to add 2 methods to the textfield component and inside the component focus the textarea or the input. This can be done with a simple `this.$el.getElementsByTagName('input')` and also for textarea or with a ref. I'm not sure if the same ref name would work but you can try, it's definitely better if it's possible

[2016-12-01 18:20] piotros commented on #51
@tralves you saved me a lot of time. Thank you! :smile:

[2016-12-05 15:35] dsl101 opened #82 "mdl-textfield throwing errors"
I actually forked the repo to start working on the `focus()` and `blur()` methods, but I didn't get very far! I just tried this both with my local build and the registry version of v-mdl, and both seem to throw the same error which wasn't there last week. I guess this could be a vue@2.1.4 [change that broke things](https://vuejs.org/v2/guide/migration.html#value-Attribute-with-v-model-removed)?

W

[2016-12-05 15:42] dsl101 opened #83 "mdl-menu no longer compiles in template"
Not sure exactly what triggered this, but I was getting an error in the template traced back to mdl-menu. It seems it objects to the use of the reserved JavaScript word 'for' in the properties now - something new in vue@2.1.4?

	[Vue warn]: failed to compile template:
	<ul v-bind:for.once="for" class="mdl-menu mdl-js-menu"><slot></slot></ul>
	- avoid using JavaScript keyword as property name: "for

[2016-12-06 10:17] posva commented on #83
Thanks for reporting it!
I need to check a bit further. I'll still like to keep the `for` prop and use a computed for the template

[2016-12-06 10:19] posva commented on #82
You're right. I shall use another approach to allow the user to set the type of the textfield. Maybe using a render function or using `v-if` branches instead

[2016-12-06 14:32] dsl101 commented on #82
I think it's the `v-model` tag it's complaining about - there seem to be different schools of thought on 2-way binding, and from what I saw of Vue at JS2016, they're very much in favour of top-down only, with events to send data back up.

[2016-12-06 14:33] dsl101 commented on #79
Just a note to say I'm working on this, but waiting on #82 before I can test code changes.

[2016-12-06 15:07] dsl101 commented on #82
Sorry - I have now read it all properly, and it seems it's the combination of `type` and `v-model`. I'll see if I can work around it in my forked copy.

[2016-12-06 16:41] dsl101 commented on #82
I've hacked a local version of v-mdl textfield.vue using both `v-if` (only for text and password types so far, just to prove the point), and also moved the prop 'value' to be a data element, and added the event required for 'input'. It all seems to work ok. Not very pretty, but maybe it helps? I guess an alternative to a long list of `v-if`s would be to break out the non-text types into separate c

[2016-12-06 17:09] dsl101 opened #84 "mdl-textfield floating label no longer works (with solution)"
I think this is because the lifecycle hooks have changed and `ready()` is now `mounted()`. I also had to move the `label` property to be a data element to avoid the warning about mutating properties. Since I'm only using `floatingLabel`, I suspect there is more that would need to be done to properly implement `label` now though, since it's not a real property any more.

[2016-12-06 17:14] dsl101 commented on #83
In the mean time, I changed it to use `trigger` instead, which I think still reads reasonably well in the template code:

    <mdl-button id="account" icon="account_circle"></mdl-button>
    <mdl-menu trigger="account">
      <mdl-menu-item @click.native="changePassword">Change Password</mdl-menu-item>
      <mdl-menu-item @click.native="logout">Logout</mdl-menu-item>
    </mdl-menu>

It works for

[2016-12-06 17:18] dsl101 commented on #79
I added these methods, which seem to have the desired effect. In `v-if` / `v-else-if` sections which generate the actual `<input>` tag, it appears you can reuse the 'ref', so providing you only end up with one `focusTarget` ref, all is well:

    methods: {
      focus () {
        this.$refs.focusTarget.focus()
      },
      focusAndSelect () {
        this.$refs.focusTarget.focus()
        this

[2016-12-06 22:08] posva commented on #84
0.x is not compatible with Vue 2. Use the v1 (alpha) for that.
Now that I think of it, if you were using 0.x, please check that the other issues you opened are not occurring with v1 😆
To install v1 use the `next` tag: `npm i -S vue-mdl@next`

[2016-12-06 22:08] #84 closed

[2016-12-06 23:12] dsl101 commented on #84
I'm not using 0.x and have installed @next.

On Tue, 6 Dec 2016 at 22:08, Eduardo San Martin Morote <
notifications@github.com> wrote:

[2016-12-06 23:22] posva commented on #84
Make sure you have it because it shouldn't be giving you a warning about mutating properties
If you're checking the code on the repo, you should check the v1 branch. Here's the textfield: https://github.com/posva/vue-mdl/blob/v1/src/textfield.vue

[2016-12-07 09:18] dsl101 commented on #84
You're right of course. I'd been working in the 'develop' branch, which I thought was the latest code... Should have checked. And I also misunderstood some details about switching between the registry installed version (which _is_ @next), and my local build of v-mdl in my app. I will update everything later and recheck.

Many thanks for your patience :)

[2016-12-07 09:25] posva commented on #84
Glad I could help 👍

[2016-12-07 09:50] dsl101 commented on #79
Now the branch issue is solved, I've created #85 for the focus stuff.

[2016-12-07 10:10] posva commented on #79
@dsl101 Cool, thanks!

[2016-12-07 13:11] dsl101 opened #86 "mdl-menu-item and v-if not working well together"
I'm not sure if this is an underlying MDL issue, but I'm trying to build a menu which has a conditional item in it:

    <mdl-button id="account" :disabled="!loggedIn" icon="account_circle"></mdl-button>
    <mdl-menu class="mdl-menu--bottom-right" for="account">
      <mdl-menu-item v-if="canAddProject" @click.native="newProject">New Project</mdl-menu-item>
      <mdl-menu-item @click.native="cha

[2016-12-07 13:27] posva commented on #86
Yes, this is because the approach of upgrading the dom element with the MDL methods isn't the best approach, it's better to handle the items with Vue and mostly use MDL for styling. This is  ofc related to mdl internal implementation. Hopefully this won't be the same in v2

[2016-12-07 13:39] posva commented on #83
Closing since this was using an outdated version

[2016-12-07 13:39] #83 closed

[2016-12-07 13:40] posva commented on #82
Closing since this was using an outdated version

[2016-12-07 13:40] #82 closed

[2016-12-08 11:00] dsl101 opened #87 "mdl-slider prop check errors"
First of all, I'm 99% certain I'm using v1 :). Perhaps it's just the docs are out of step, but this:

    <mdl-slider v-on:input="(v) => {this.timeout = v}" :value="timeout" min="0" max="10000" step="500"></mdl-slider>

results in 3 warnings in the console:

	[Vue warn]: Invalid prop: type check failed for prop "step". Expected Number, got String.
	(found in component <MdlSlider> at /vue/vue-mdl/s

[2016-12-08 11:12] posva commented on #87
It's actually very simple to fix 😄
The type should be `[Number, String]` and use a computed property like `stepNumber` to get a Number out of it and use it in every computation
https://github.com/posva/vue-mdl/blob/v1/src/slider.vue#L45

[2016-12-08 12:05] dsl101 commented on #87
OK - I will do that and create a PR

[2016-12-08 13:44] dsl101 opened #89 "Getting mdl-radio to work"
I know the docs are a bit behind the code, but would you be able to help me untangle v1 mdl-slider? So far this:

    <mdl-radio @input="toggle" :val="sortOrder" value="sortAscending">Ascending Order</mdl-radio>
    <mdl-radio @input="toggle" :val="sortOrder" value="sortDescending">Descending Order</mdl-radio>

just doesn't work. I've got a local data property called `sortOrder`, and it is initial

[2016-12-08 13:54] dsl101 commented on #89
OK - so _this_ works better. Set `name` and switch round `val` and `value`. Perhaps there's another name for one of those to make it more intuitive?

        <mdl-radio name="sort" @input="toggle" val="sortAscending" :value="sortOrder">Ascending Order</mdl-radio>
        <mdl-radio name="sort" @input="toggle" val="sortDescending" :value="sortOrder">Descending Order</mdl-radio>

[2016-12-08 15:56] dsl101 commented on #87
And, when working with firebase, it's quite convenient to pass `value` as a string too, as that's what they come back from firebase as. Would it be OK to handle `value` in the same way?

[2016-12-08 21:18] posva commented on #87
@dsl101 I don't understand what you mean, you can have numbers in firebase

[2016-12-08 22:26] #79 closed

[2016-12-08 22:27] #87 closed

[2016-12-08 22:33] posva commented on #89
The value is used for the v-model. val is the value attribute on the input.
Here's an example: https://github.com/posva/vue-mdl/blob/v1/test/components/Radio.vue

[2016-12-08 22:33] #89 closed

[2016-12-08 22:36] dsl101 commented on #87
Yes, but in practice, especially if you use JSON import / export, many times things end up as strings, and it's quite tedious to work through the database converting them. I guess it should really have more validation, but none of my data is user-provided, so letting the slider handle strings and use `parseInt()` there seemed reasonable - as for the min / max / step values.

[2016-12-08 22:37] #77 closed

[2016-12-08 22:40] dsl101 commented on #89
I think that's the essence of my confusion - "value is for v-model, val is for value"

[2016-12-08 23:12] posva commented on #87
Actually JSON can have numbers too

[2016-12-08 23:12] posva commented on #89
Yeah, it's really confusing 😓

[2016-12-09 10:26] dsl101 commented on #87
Indeed. Then I have no idea what converted _some_ of my numbers in to strings. But there they are - must have been cosmic rays. In any case, I'm pleased mdl-slider is more tolerant of me now :)

[2016-12-09 10:31] dsl101 commented on #86
So... I'm still a little confused about what I _should_ do in this scenario - apart from wait for MDL v2? I guess I could try putting a v-if around _whole menu_?

[2016-12-09 12:08] posva commented on #86
@dsl101 Actually you can try to implement it yourself for your project in a different way from vue-mdl: without using the `upgradeComponent` method and handling all the events yourself. If you're happy with the results, you can, if you want, share it by creating a PR 😄 .

[2016-12-09 15:03] dsl101 commented on #86
Well, I was hoping to do something clever with putting 2 completely different menus / buttons in a div with `v-if`, but that still had the problem that sometimes the menu would stick open. So I thought I'd just bind the `disabled` option to the computed property, make it a method instead, etc. Nothing helped. Then I noticed this:

    <mdl-menu-item disabled="true" @click.native="newProject">New P

[2016-12-10 14:05] posva commented on #86
There're no props menu item actually. Honestly, building your own menu is the way to go 😆
That component cannot be easily integrated with vue

[2016-12-13 18:58] gedw99 opened #91 "Keyboard covers text input area on mobile"
This is a common problem.

I think that is a way to detect it. I remember reading about the fix a few weeks ago.

It would make this much more usable

[2016-12-13 22:11] posva commented on #91
I googled it and found about using ids although I haven't tested it and the jsbin doesn't work http://stackoverflow.com/questions/18110852/input-textbox-hidden-behind-keyboard-on-android-chrome

Anyway, this belongs to mdl itself more than vue-mdl and can be achieved on user land easily so there's no point in automatically doing so because not everyone wants the page to scroll automatically

[2016-12-13 22:11] #91 closed

[2016-12-14 21:02] dabroder opened #92 "Dialogs, option to disable focus-trap"
Hello Eduardo, a property to disable `focus-trap` in MdlDialog would be useful in many cases.
I'm having trouble with `md-date-time-picker` that render outside MdlDialog.

Great Job! Greetings from Argentina.

[2016-12-14 22:27] posva commented on #92
Indeed, I should add a `no-focus-trap` prop to the dialog. A PR is welcome as well, it's quite simple actually

[2016-12-17 11:38] #92 closed

[2016-12-17 17:33] rvramesh opened #94 "Uncaught ReferenceError: _h is not defined in render @ vue-mdl.js"
Hi I am trying out vue-mdl 1.0.0alpha.2 on a project scaffolded by vue-cli. When I am trying to place a simple button I am getting the "Uncaught ReferenceError: _h is not defined" error. I am attaching the screen shot for reference.
![screen shot 2016-12-17 at 10 56 26 pm](https://cloud.githubusercontent.com/assets/366183/21288564/bb5186fe-c4ac-11e6-9750-90f3ff538e35.png)

I have placed the code w

[2016-12-17 19:37] #51 closed

[2016-12-17 19:53] posva commented on #94
It was an issue that needed me to rebuild vue-mdl. I rebuilt and released (some) new alphas. Update to the last version and you'll be good. Thanks for telling me 👍

[2016-12-17 19:53] #94 closed

[2016-12-19 11:28] rvramesh commented on #94
Thanks! This is resolved in alpha5 which I tested.

[2016-12-20 12:12] dabroder opened #95 "MDL development having moved to the Material Components for the web"
Plans for move vue-mdl to MDC?

[2016-12-20 15:34] posva commented on #95
Absolutely. That's what v2 is all about. I'm having some trouble finding the time for this because I'm alone but I'll probably start working on this by the end of january

[2016-12-20 15:34] #95 closed

[2016-12-22 04:42] kyoukhana opened #96 "checkboxes not selecting"
For some reason the css isn't updating the view when the checkboxes are selected. Here is my checkbox code

[code]

[code]

[2016-12-22 07:42] posva commented on #96
repro please

[2016-12-22 12:20] kyoukhana commented on #96
i will prepare a repo for you.

[2016-12-24 12:01] posva commented on #16
Closing as done in #90
It's still missing tabs though. I may add that in the future. Scoped slots makes the api much better

[2016-12-24 12:01] #16 closed

[2016-12-24 12:07] posva commented on #96
@kyoukhana Remember you can use this: https://jsfiddle.net/posva/mux0tp2f/

[2016-12-24 13:46] posva commented on #86
Closing this is favor of #46

[2016-12-24 13:46] #86 closed

[2016-12-24 13:46] #33 closed

[2016-12-27 12:09] LANSELOT opened #97 "Call a method open() on the component <mdl-dialog> by clicking on <mdl-button>"
I am use component of the dialog window **dialog.vue** or ```<mdl-dialog>```

[code]

I want to bring a dialog window to the other component

[code]

I found no information on how to call a method of one component within the other. All examples are mainly used props.

How can I call a method open() in ```<mdl-dialog></mdl-dialog>```?

[2016-12-27 22:37] posva commented on #97
You're probably looking for `refs`: https://vuejs.org/v2/api/#ref

[2016-12-27 22:37] #97 closed

[2016-12-28 20:44] LANSELOT commented on #97
[code]
this code return Cannot read property 'open' of undefined

[2016-12-28 21:41] posva commented on #97
refs are not available at (template) _compile_ time, so just wrap it around a method 🙂

[2016-12-28 21:48] LANSELOT commented on #97
Please can you give an example? I do not understand how to do it

[2016-12-28 22:28] posva commented on #97
[code]
then in button:

[code]

[2016-12-29 05:45] LANSELOT commented on #97
It works, thanks)

[2017-01-05 02:27] kyoukhana opened #98 "validation"
Was wondering what do you recommend for validation with vue-mdl

[2017-01-06 10:41] dsl101 opened #99 "Documentation site has gone haywire"
Are you working on something right now? Many (most?) of the navbar links on the left show the Installation page, so much of the documentation is inaccessible... Buttons, Cards, Checkboxes and Textfields work, but all others don't.

Tx

[2017-01-06 10:44] posva commented on #99
You're right. I didn't even see that. Thanks for letting me know

[2017-01-06 10:57] posva commented on #99
Fixed

[2017-01-06 10:57] #99 closed

[2017-01-08 01:27] kyoukhana opened #100 "issue with autocomplete"
I am using vue-mdl 0.10.0.  The problem is that autocomoplete isn't working on textfields any ideas as to why.

[code]

[2017-01-08 14:56] posva commented on #100
You should not wrap a component with the `mdl-js-*` class unless specific cases. Maybe that's causing it. Otherwise you're setting the `autocomplete` to off

[2017-01-08 14:56] #100 closed

[2017-01-08 22:59] kyoukhana commented on #100
I tried that but still not working

[code]

[2017-01-09 01:22] posva commented on #100
without the div

[2017-01-09 15:00] kyoukhana commented on #100
I tried that but still not working take a look
[code]

[2017-01-09 15:09] posva commented on #100
Oh, you are using the Vue 1 version. I added the autocomplete to the v0

[2017-01-09 15:11] kyoukhana commented on #100
Ahh so how do i fix that on my end.  Thanks for the help.  I haven't upgraded to Vue 2 maybe in the spring.  Its a lot of work for one person.

[2017-01-09 15:19] posva commented on #100
FTM just update the version of vue-mdl to 0.11.0

[2017-01-09 15:30] kyoukhana commented on #100
I tried to do this.  Removed old version tried to install new version but didn't install

[code]

[2017-01-09 15:38] posva commented on #100
npm install vue-mdl@latest shoud do it.
If you have errors with npm you should search in Stack Overflow or Google

[2017-01-09 16:03] kyoukhana commented on #100
I installed vue-mdl@0.11.0.  The autocomplete feature works in Chrome but not Firefox 50.1.0

[2017-01-10 03:42] kyoukhana opened #101 "required field"
I couldn't get required working is there something I am missing?

[code]

Also I coudln't get vee-validate working with any mdl-textfields.  It will work on normal input fields.

[2017-01-10 10:42] posva commented on #101
I couldn't find anything missing.
You should post on the forums or SO to get some help

[2017-01-10 10:42] #101 closed

[2017-01-16 23:49] greenkeeper[bot] opened #104 "An in-range update of vue-template-compiler is breaking the build 🚨"
## Version **2.1.9** of [vue-template-compiler](https://github.com/vuejs/vue) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/posva/vue-mdl/compare/greenkeeper%2Fvue-template-compiler-2.1.9">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      vue-template-compiler
    </td>
  </tr>
  <tr>

[2017-01-17 09:21] #104 closed

[2017-01-17 17:18] greenkeeper[bot] opened #107 "An in-range update of vue-template-compiler is breaking the build 🚨"
## Version **2.1.10** of [vue-template-compiler](https://github.com/vuejs/vue) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/posva/vue-mdl/compare/greenkeeper%2Fvue-template-compiler-2.1.10">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      vue-template-compiler
    </td>
  </tr>
  <t

[2017-01-17 17:30] #107 closed

[2017-01-25 09:05] poppop0911 opened #108 "How to set the Vue MDL color in a production environment"
How to set the Vue MDL color in a production environment.

I hope to be able to set the color more easily.
May be described it in the documentation.

[2017-01-25 09:54] posva commented on #108
The easiest way is to use a CDN version: https://getmdl.io/customize/index.html
Otherwise, it can be achieved by loading the original `scss` as in the docs: https://github.com/posva/vue-mdl/blob/develop/doc/src/style/mdl.scss

I found that way by trying but I agree that they could have put that up in the documentation.

[2017-01-25 09:54] #108 closed

[2017-02-03 16:06] dsl101 opened #113 "Binding rows of a textfield causes visual glitches"
This might be a question rather than a bug, but my naive method to make a text area which 'grows' with content was this:

    <mdl-textfield
      textarea
      :rows="editHeight"
      v-model="value"
      @keyup.native.enter="addItem"
      @input="checkSize"
      :label="textPrompt"

    ...
    checkSize () {
      this.editHeight = this.value.split("\n").length
    }

When I paste somethin

[2017-02-03 16:10] posva commented on #113
You can use something like autosize for that: http://www.jacklmoore.com/autosize/
Here's a way of doingn so with Vue: https://github.com/egoist/vue-autosize-textarea/issues/1#issuecomment-239754106

[2017-02-03 16:10] #113 closed

[2017-02-09 17:21] posva commented on #61
Done with latest tag

[2017-02-09 17:21] #61 closed

[2017-02-09 17:22] posva commented on #71
It's now removed!

[2017-02-09 17:22] #71 closed

[2017-02-09 17:24] posva commented on #69
Fixed in latest version

[2017-02-09 17:24] #69 closed

[2017-02-15 15:54] devomacdee opened #116 "mdl select - options not selecting"
In my project and in the docs, it does not register a click to select the option.

[2017-02-15 16:19] posva commented on #116
Can you be more specific, please? Maybe you're using `@click` instead of `@click.native`

[2017-02-15 16:21] devomacdee commented on #116
Sorry I actually got it working about 30 seconds ago. Still doesn't close when an option is selected though.

[2017-02-15 16:22] devomacdee commented on #116
Sorry I actually got it working about 30 seconds ago. Still doesn't close when an option is selected though.

[2017-02-15 16:22] #116 closed

[2017-02-15 16:23] posva commented on #116
That may be due to dynamic options. It currently doesn't support it :(

[2017-02-15 17:11] devomacdee commented on #46
Has this been resolved? I'm having this same issue still.

[2017-02-15 17:23] posva commented on #46
ATM you need to manually handle it for dynamicaly added options: https://jsfiddle.net/posva/rc1u7ouc/
Basically you need to call a handler on click:

[code]

[2017-02-15 22:34] sofanisba commented on #46
[code]
The example given above binds the handleClick event to a child component of the menu. In this case the `:options` list items would be the thing with an event binding, but those are only referenced in the mdl-select tag.  Any suggestions as to how one would add that click handler to a stock mdl-select component's child elements?

[2017-02-15 22:54] posva commented on #46
I think the select component could probably be updated to handle the click itself: https://github.com/posva/vue-mdl/blob/develop/src/select.vue#L36

the select is a hack after all

[2017-02-15 23:14] sofanisba commented on #46
Yeah, my last-ditch effort is to fork it and change the `<li>` event handler, but I figured I'd see if there was some clever on the fly fix. :+1:

[2017-02-16 11:17] posva commented on #46
Make sure to share it as a PR if you add it 🙂

[2017-02-17 06:30] ShashankaNataraj opened #117 "Lists support?"
This lib is missing [lists support from mdl](https://getmdl.io/components/index.html#lists-section)

[2017-02-26 13:12] greenkeeper[bot] opened #126 "An in-range update of vue-template-compiler is breaking the build 🚨"
## Version **2.2.1** of [vue-template-compiler](https://github.com/vuejs/vue) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/posva/vue-mdl/compare/greenkeeper%2Fvue-template-compiler-2.2.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      vue-template-compiler
    </td>
  </tr>
  <tr>

[2017-03-01 20:19] kyoukhana opened #128 "upgraded from version 0.11.0 to 1.1.1 form fields not showing"
I just upgraded from version 0.11.0 to 1.1.1 and my form isn't showing.  Not sure why.  I also have "material-design-lite": "^1.3.0" installed.  Here is my form I am not sure what I am missing or doing wrong. It was all working in version 0.11.0.  I am still using Vue v1.0.28

[code]

[2017-03-01 21:40] posva commented on #128
Unfortunately, v1 is for Vue 2 only. I'll add that to the readme

[2017-03-01 21:41] #128 closed

[2017-03-01 22:02] kyoukhana commented on #128
what was the last version that was compatible with 1.x.  I love vue-mdl you have done a great job with the library

[2017-03-02 14:30] posva commented on #128
0.11.0: https://github.com/posva/vue-mdl/releases
Thanks for the compliment. I think it could have had better support if I had more time for it 😞

[2017-03-02 14:30] rzb opened #131 "Stepper"
Any plans on adding the stepper component?

[2017-03-02 14:31] posva commented on #131
What is the stepper component? I cannot find it on getmdl

[2017-03-02 20:37] rzb commented on #131
I guess they don't have it either. Stepper is the awesome google's approach to form wizards:

[md guidelines](https://material.io/guidelines/components/steppers.html)

[2017-03-02 21:11] #131 closed

[2017-03-04 15:35] greenkeeper[bot] opened #133 "An in-range update of cross-env is breaking the build 🚨"
## Version **3.2.0** of [cross-env](https://github.com/kentcdodds/cross-env) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/posva/vue-mdl/compare/greenkeeper%2Fcross-env-3.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      cross-env
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-03-06 13:57] zcyzcy88 opened #136 "Add mdl-chips"
https://getmdl.io/components/index.html#chips-section

[2017-03-06 15:30] #126 closed

[2017-03-06 15:30] #133 closed

[2017-03-07 16:17] thomas15v opened #138 "mdl-textfield enter eventlistener."
Possibility to add an enter eventlistener to a field. Useful for password text fields.

[2017-03-07 16:52] posva opened #139 "Vue MDC"
# Current state of Vue MDL

As some of you may know, Material design Lite is now in _Limited Support_:

You can check a demo of Material web components at http://material-components-web.appspot.com/

# Future of Vue MDL

This means that vue-mdl will be placed in a similar state: some issues will be tagged as _contribution welcome_.

But don't worry, I'm moving to [Material components Web](https://

[2017-03-07 17:00] posva commented on #138
The current way to do this is to use the `input` or `textarea` slot like this: https://jsfiddle.net/posva/rc1u7ouc/

[2017-03-07 17:00] #138 closed

[2017-03-07 20:29] kyoukhana opened #140 "vue-mdl 0.11.0 text fields"
Text Fields can we just use v-model or do we need sync

## Just v-model
[code]

## with sync

[code]

[2017-03-07 23:16] posva commented on #140
you need sync for Vue 1

[2017-03-07 23:16] #140 closed

[2017-03-09 02:35] greenkeeper[bot] opened #144 "An in-range update of vue-template-compiler is breaking the build 🚨"
## Version **2.2.2** of [vue-template-compiler](https://github.com/vuejs/vue) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/posva/vue-mdl/compare/greenkeeper%2Fvue-template-compiler-2.2.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      vue-template-compiler
    </td>
  </tr>
  <tr>

[2017-03-09 12:46] #144 closed

[2017-03-13 08:13] greenkeeper[bot] opened #147 "An in-range update of vue-template-compiler is breaking the build 🚨"
## Version **2.2.3** of [vue-template-compiler](https://github.com/vuejs/vue) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/posva/vue-mdl/compare/greenkeeper%2Fvue-template-compiler-2.2.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      vue-template-compiler
    </td>
  </tr>
  <tr>

[2017-03-13 13:07] #147 closed

[2017-03-13 15:12] greenkeeper[bot] opened #148 "An in-range update of vue-template-compiler is breaking the build 🚨"
## Version **2.2.4** of [vue-template-compiler](https://github.com/vuejs/vue) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/posva/vue-mdl/compare/greenkeeper%2Fvue-template-compiler-2.2.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      vue-template-compiler
    </td>
  </tr>
  <tr>

[2017-03-13 15:57] #148 closed

[2017-03-21 13:09] AliShaikh94 commented on #46
Was there a fix for this?
Even on the doc website the select component is broken :(

[2017-03-21 14:21] posva commented on #46
It doesn't work because I forgot to update the docs at https://github.com/posva/vue-mdl/blob/develop/doc/src/views/Selects.vue for Vue 2 but there's a working example at https://github.com/posva/vue-mdl/blob/develop/test/components/Select.vue
I'm open to a PR for that

[2017-03-21 16:20] AliShaikh94 commented on #46
Yeah I saw that and got it working from there.
I've fixed it locally in the docs, did you want me to create a new branch and then send a PR from there?

[2017-03-21 16:26] posva commented on #46
Yes, that would be great ☺️

On Tue, 21 Mar 2017, 17:20 Ali Shaikh, <notifications@github.com> wrote:

[2017-03-22 18:34] paul-em commented on #139
Awesome! Just in case you missed it, there are some framework-examples for vue on the material-components-web repo https://github.com/material-components/material-components-web/tree/master/framework-examples/vue - might be a good starting point for some components, but there aren't that many yet either.

[2017-03-22 18:36] posva commented on #139
Hey, yes, I took some inspiration from there. the `v-ripple` looks a lot like the one there

[2017-03-23 01:04] robertkern commented on #139
It doesn't look like this is being implemented according to the MDC guidelines for frameworks https://github.com/material-components/material-components-web/blob/master/docs/integrating-into-frameworks.md

Will you be changing to implement more like https://github.com/material-components/material-components-web/tree/master/framework-examples/vue or planning to just use the MDC CSS?

[2017-03-23 09:31] posva commented on #139
hey, yes it is. I'll implement it to make it performant and offer a good api. It's not just CSS, I'll add more js (on top of what is there already) with more dynamic components like the menu

[2017-03-24 04:58] greenkeeper[bot] opened #156 "An in-range update of vue-template-compiler is breaking the build 🚨"
## Version **2.2.5** of [vue-template-compiler](https://github.com/vuejs/vue) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/posva/vue-mdl/compare/greenkeeper%2Fvue-template-compiler-2.2.5">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      vue-template-compiler
    </td>
  </tr>
  <tr>

[2017-03-24 10:07] #156 closed

[2017-03-27 02:51] greenkeeper[bot] opened #159 "An in-range update of vue-template-compiler is breaking the build 🚨"
## Version **2.2.6** of [vue-template-compiler](https://github.com/vuejs/vue) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/posva/vue-mdl/compare/greenkeeper%2Fvue-template-compiler-2.2.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      vue-template-compiler
    </td>
  </tr>
  <tr>

[2017-03-27 06:48] #159 closed

[2017-03-30 22:26] vicmars5 opened #162 "textfiled on keyup.enter"
Hello, I am not sure if is posibble to pass a method to execute when enter key is pressed?, or do i need to modify the textfield component to add the functionallity?.

[2017-03-31 08:08] dsl101 commented on #162
You can bind a method you provide to the `keyup` event. For example, use this for the Enter key:

    <mdl-textfield @keyup.native.enter="onEnter"></mdl-textfield>
    .
    .
    .
    methods: {
        onEnter () {
            .
            .
            .

The `.native` modifier is needed, and if you want to catch _every_ key, just leave out the `.enter` modifier in the event binding.

[2017-03-31 11:32] #162 closed

[2017-04-05 00:38] greenkeeper[bot] opened #166 "An in-range update of eslint-plugin-standard is breaking the build 🚨"
## Version **2.2.0** of [eslint-plugin-standard](https://github.com/xjamundx/eslint-plugin-standard) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/posva/vue-mdl/compare/greenkeeper%2Feslint-plugin-standard-2.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plugin-standard

[2017-04-05 15:21] #166 closed

[2017-04-12 15:45] posva commented on #139
I just renamed the repository to `vue-mdc` and added a note at the top of the readme. I'll leave that note until a v1 version is released.

Vue MDC is still at very early stages but I really want it to be easier to contribute. I'll still accept contributions to vue mdl and release fixes so people who have started using it can continue doing so 🙂

If you can try out the setup and have some feedback

[2017-04-14 12:23] greenkeeper[bot] opened #172 "An in-range update of webpack is breaking the build 🚨"
## Version **2.4.0** of [webpack](https://github.com/webpack/webpack) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/posva/vue-mdc/compare/greenkeeper%2Fwebpack-2.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      webpack
    </td>
  </tr>
  <tr>
    <th align=left>
      Current V

[2017-04-14 16:04] greenkeeper[bot] opened #173 "An in-range update of babel-preset-env is breaking the build 🚨"
## Version **1.4.0** of [babel-preset-env](https://github.com/babel/babel-preset-env) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/posva/vue-mdc/compare/greenkeeper%2Fbabel-preset-env-1.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      babel-preset-env
    </td>
  </tr>
  <tr>

[2017-04-15 09:40] #172 closed

[2017-04-15 09:40] #173 closed

[2017-04-15 16:41] MishUshakov commented on #139
Hey posva! Really enjoying your work on Google's Material Design Components, im not really Vue guy(angular background) but how can i help to build the components on Vue? Any examples?

[2017-04-15 22:28] posva commented on #139
Hey @MishUshakov Thanks for the interest!
ATM it's a bit hard to work on things because I'm not providing visibility of what I'm working on, but if you want to get started you can look at existing tests and the `ripple.js` as well as the material components web code
If you have done some Angular, Vue will be very easy 🙂
I'll post more information once I have it

[2017-04-21 22:00] greenkeeper[bot] opened #177 "An in-range update of babel-eslint is breaking the build 🚨"
## Version **7.2.3** of [babel-eslint](https://github.com/babel/babel-eslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/posva/vue-mdc/compare/greenkeeper%2Fbabel-eslint-7.2.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      babel-eslint
    </td>
  </tr>
  <tr>
    <th align=lef

[2017-04-22 10:27] greenkeeper[bot] opened #178 "An in-range update of webpack-dev-server is breaking the build 🚨"
## Version **2.4.3** of [webpack-dev-server](https://github.com/webpack/webpack-dev-server) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/posva/vue-mdc/compare/greenkeeper%2Fwebpack-dev-server-2.4.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      webpack-dev-server
    </td>
  </tr

[2017-04-23 11:27] #178 closed

[2017-04-23 11:27] #177 closed

[2017-04-25 18:57] kodekrendel opened #183 "How to use it???"
Hi.

It literaly no docs and no example. What's the markup? How to use it?

[2017-04-25 22:27] posva commented on #183
hey. I'll probably add more docs in the following weeks, I'm quite in the middle of something for the rest of the week. You can find how to add vue-mdc to your project in the readme and then you can find usage in the test files. Most components are really easy to check (for props and methods), so you can check that as well.
Keep in mind the lib is far from being ready 🙂

[2017-04-25 22:27] #183 closed

[2017-04-27 22:17] greenkeeper[bot] opened #185 "An in-range update of vue is breaking the build 🚨"
## Version **2.3.0** of [vue](https://github.com/vuejs/vue) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/posva/vue-mdc/compare/greenkeeper%2Fvue-2.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      vue
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version
    </td>

[2017-04-28 00:23] greenkeeper[bot] opened #186 "An in-range update of vue-template-compiler is breaking the build 🚨"
## Version **2.3.0** of [vue-template-compiler](https://github.com/vuejs/vue) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/posva/vue-mdc/compare/greenkeeper%2Fvue-template-compiler-2.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      vue-template-compiler
    </td>
  </tr>
  <tr>

[2017-04-29 11:58] #185 closed

[2017-04-29 11:58] #186 closed

[2017-05-02 09:10] greenkeeper[bot] opened #190 "An in-range update of vue is breaking the build 🚨"
## Version **2.3.1** of [vue](https://github.com/vuejs/vue) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/posva/vue-mdc/compare/greenkeeper%2Fvue-2.3.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      vue
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version
    </td>

[2017-05-02 10:23] #190 closed

[2017-05-02 10:36] greenkeeper[bot] opened #191 "An in-range update of vue is breaking the build 🚨"
## Version **2.3.2** of [vue](https://github.com/vuejs/vue) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/posva/vue-mdc/compare/greenkeeper%2Fvue-2.3.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      vue
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version
    </td>

[2017-05-09 17:02] greenkeeper[bot] opened #194 "An in-range update of vue-template-compiler is breaking the build 🚨"
## Version **2.3.3** of [vue-template-compiler](https://github.com/vuejs/vue) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/posva/vue-mdc/compare/greenkeeper%2Fvue-template-compiler-2.3.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      vue-template-compiler
    </td>
  </tr>
  <tr>

[2017-05-09 19:23] #194 closed

[2017-05-23 16:42] #191 closed

[2017-05-26 18:58] kristianmandrup opened #199 "I thought these were real Web Components ie. custom elements"
Guess that is not the case...

[2017-05-26 20:25] posva commented on #199
Even better, vue components 😉

[2017-05-26 20:25] #199 closed

[2017-06-03 13:38] kyoukhana opened #203 "is this compatible with"
Is this compatible with Vue 2.3.3

[2017-06-03 14:39] posva commented on #203
yes, why?

[2017-06-03 14:39] #203 closed

[2017-06-04 00:07] spyhole commented on #139
@posva https://github.com/stasson/vue-mdc-adapter

[2017-06-04 17:45] posva commented on #139
@spyhole Thanks for sharing. I wonder why they would start a new project instead of contributing to this one... On top of that, they're not writing any tests and are creating full components everywhere which aren't optimal. It looks like they're building it for their own use

[2017-06-04 23:42] spyhole commented on #139
im pleasure to see this project to use Google official components and css. @posva

[2017-06-08 04:58] greenkeeper[bot] opened #206 "An in-range update of vue-template-compiler is breaking the build 🚨"
## Version **2.3.4** of [vue-template-compiler](https://github.com/vuejs/vue) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/posva/vue-mdc/compare/greenkeeper%2Fvue-template-compiler-2.3.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      vue-template-compiler
    </td>
  </tr>
  <tr>

[2017-06-08 05:00] greenkeeper[bot] opened #207 "An in-range update of vue is breaking the build 🚨"
## Version **2.3.4** of [vue](https://github.com/vuejs/vue) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/posva/vue-mdc/compare/greenkeeper%2Fvue-2.3.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      vue
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version
    </td>

[2017-06-08 05:31] greenkeeper[bot] opened #208 "An in-range update of extract-text-webpack-plugin is breaking the build 🚨"
## Version **2.1.1** of [extract-text-webpack-plugin](https://github.com/webpack-contrib/extract-text-webpack-plugin) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/posva/vue-mdc/compare/greenkeeper%2Fextract-text-webpack-plugin-2.1.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>

[2017-06-08 13:26] #208 closed

[2017-06-08 13:26] #207 closed

[2017-06-08 13:26] #206 closed

[2017-06-08 18:56] jerakode opened #209 "How to use single component?"
Hi.
The whole sense of MDC is ability to use not whole library, but curtain components. Is this available in vue-mdc? I didn't fin answer in Docs (since there's none)

[2017-06-08 23:03] posva commented on #209
You can import them from the src (you need to setup scss loader with node_modules) or you can import components `import { Button } from 'vue-mdc'`
Both things will be explained in the docs 🙂

[2017-06-08 23:03] #209 closed

[2017-06-09 08:03] jerakode commented on #209
And what's next? How to register it? A component? What markup should be? Where's docs?

[2017-06-09 08:21] posva commented on #209
It's a component, register it locally or globally. For usage you can check
the test, I have an extensive test suite so you'll be able to see how
components can be used. I'm still working on the docs at www.vue-mdc.js.org
Don't forget to include the relevant css 😁

On Fri, 9 Jun 2017, 10:03 ᛃ, <notifications@github.com> wrote:

[2017-06-12 23:22] jerakode opened #210 "Not working with Nuxt - SSR ready?"
Ok, you call it SSR ready, but it doesn't work with Nuxt.

1. Create a plugin
[code]
2. Extend `nuxt.config`
[code]
3. Markup (pug)
[code]
4. Only CSS are applied - so it's not working.

[2017-06-13 06:13] posva commented on #210
It does work, you may want to have a look at the wip docs https://github.com/posva/vue-mdc.js.org

[2017-06-13 06:13] #210 closed

[2017-06-13 10:25] jerakode commented on #210
omg, this is challenging.

[2017-06-13 11:12] posva commented on #210
what do you mean 😆 ?

[2017-06-13 15:05] jerakode commented on #210
@posva well, I've tried another markup from that example repo

[code]
It doesn't work anyway. My plugin stays above and it looks like yours, beside `const props = {}`
I just want to try simple example and I can't do that.
Unbelievable.

[2017-06-18 06:35] michaelalhilly commented on #61
I'm still experiencing this issue with disabled.

[2017-06-27 14:17] kyoukhana opened #216 "problem with checkboxes in Safari 10.0.1"
Visit the fiddle link here
https://jsfiddle.net/kyoukhana/bssznj2b/3/

In Safari 10.1.1 desktop check on checkbox a few times.  Value of checkbox isn't being displayed properly.

[2017-06-27 14:36] posva commented on #216
Well, that's weird. It was working before. Right now I'm not working on MDL, but I'm open to contributions to fix it (mdl branch)

[2017-07-07 00:10] jqEmprendedorVE opened #220 "Demo return invalid request"
When i click in link into read me for go to https://raw.githubusercontent.com/material-components/ this page return `400: Invalid request`

[2017-07-07 18:48] #220 closed

[2017-08-06 14:24] ramononis opened #227 "Closing drawer doesn't release body scroll block"
Clicking outside the drawer to close it doesn't remove the mdc-dialog-scroll-lock class from the body, making it impossible to scroll after using the drawer.

[2017-08-06 14:29] ramononis commented on #227
[This test](https://github.com/posva/vue-mdc/blob/master/test/specs/Drawer.spec.js#L61) should also check if the scrollBlock is added/removed, which doesn't happen right now.

[2017-08-06 15:28] posva commented on #227
Yes, it something that changed in the meantime but I still didn't update

[2017-08-08 09:30] eric-burel commented on #74
The doc is not very clear about modifiers, and using `native` seems unnatural to me.

In React (yes I am that one annoying guy that comes from React and uses Vue from time to time and always misses React features) we would simply pass down all props to the button, including event bindings: `const myNiceButton = ({myUsefulProps, ...otherProps) => (<div><button {...otherProps}></button></div>)`.
Thi

[2017-08-22 13:39] iamdubx commented on #139
This "project" is impossible to use. I haven't seen nothing like this before.

[2017-10-01 14:33] Tim15 opened #244 "Documentation"
Do you have a strategy for adding documentation? Are you planing on using a specific system like JSDoc, or just some basic markdown, or the Github Wiki? I would be happy to help with anything.

The code is fairly clear to read and see the options, but I think some basic documentation would really help people get started with this project.

[2017-10-01 14:45] posva commented on #244
The ongoing work is at https://github.com/posva/vue-mdc.js.org
I have been undergoing under too many things for a couple of months and haven't been able to set out the foundation yet... I'll do my best to get the foundation ready asap so people like you can help

integrating mdc with vue is actually quite easy, but I really struggle to find the moment to finish the foundation of docs so people can

[2017-10-01 14:45] #244 closed

[2017-10-18 09:36] ph777 opened #249 "Bind menu dynamically to list items"
Hi there, thanks for great project. This is maybe not a issue but a newbie question (regarding the mdl branch).

What I'm trying to do is to build a list (mdl-list) with items, where each item has a menu button. In MDL it is common to have one menu definition for one menu button. In my scenario there is a lot of items that share the same menu definition. Therefore I'd like to have one menu definit

[2017-10-19 08:34] jeremyzahner commented on #139
@posva We are thinking about using «vue-mdc» for a really big project. We would also be willing to contribute where needed (ie. something we need is missing). I wonder how committed you are to the project right now?

[2017-10-19 11:08] iamdubx commented on #139
@jeremyzahner on the scale from 0 to 10 I'd say 0

[2017-10-19 12:26] posva commented on #139
@jeremyzahner Right now I'm unable to do much open source because of personal matters.
I'll keep adding things with time, and I'll love to have some active contributors for this project
Right now vue-mdc is far from complete, some components are usable but most things are still missing. I'll get involved again after I solved my problems, which would probably be in 2 or 3 weeks. I can recontact you

[2017-10-24 15:51] jeremyzahner commented on #139
@posva Please do. In 2 to 3 Weeks we will be starting our project. We just wanted to make sure that you still have the intention of keeping the project alive. =)

[2017-10-29 07:26] kuroljov commented on #139
I am also planning to start rather big project and trying to choose from this and `vue-material`. Components in this projects seem to work faster

[2017-11-01 18:47] rickbsgu opened #251 "mdl-spinner not working"
Get placeholder "Loading" text.

Might have something to do with the component being loaded before mdl (or this part of mdl) is initialized?

[2017-11-14 19:12] hanxue opened #257 "Handle dialog accept/cancel events"
I have looked at the https://github.com/posva/vue-mdc/blob/master/src/Dialog/Dialog.vue source and don't see any accept/cancel events. How do I handle an `accept` or `cancel` button click event?

[2017-11-16 14:18] posva commented on #257
I think you're looking for `accepted` and `canceled` but I may rename them in the future to `accept` and `cancel` (https://github.com/posva/vue-mdc/blob/master/src/Dialog/Dialog.vue#L81-L82)

[2017-11-16 14:18] #257 closed

[2018-01-26 06:41] AkatQuas commented on #37
Would you please tell me how to customize the theme color using webpack?

[2018-01-28 11:35] codectl commented on #251
I came across with this issue, too. I came to the same conclusion, the javascript file seems to be loaded before the component is created. I worked around this but I would actually like to know a solution for this as I might use other external scripts and they won't work for the same reason.

[2018-07-28 17:25] ntoljic opened #285 "MDL Slider - valueNumber missing setter"
When I add a slider to my Vue component as shown in the docs I get the following
warning:
[code]

Sample component:

[code]

A quick look into `slider.vue` shows that `valueNumber` indeed only has a getter defined like so:

[code]

From a quick google search it is my understanding that if a computed property is used with `v-model`, as is the case with `valueNumber`, it **must** have a correspondin